#Git
.git
.gitignore

# Docker
.Docker


# Python

app/__pycache__/
app/*/__pycache__/
app/*/+/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/


# geodata
**/*.tif
**/*.tiff
**/*.nc
**/*.asc
**/monica_geodata/
**/*.shp
**/*.geojson
**/*.gpkg
**/*.prj
**/*.cpg
**/*.dbf
**/*.shx    

# model outputs
**/*.csv
**/*.log
**/model_exports/




# python
__pycache__/
*.pyc
*.ipynb_checkpoints/


# git
.git
.gitignore

# node
node_modules/

# local env
.env
