debugpy==1.6.2
django-debug-toolbar==3.7.0
django-extensions==3.2.1
django-extras==0.3
django-geoip2-extras==1.1.2
django-geojson==3.2.1
django-leaflet==0.28.3
drf-spectacular==0.15.1
gdal==3.4.1
pandas==1.5.3
psycopg2==2.9.3
django-crispy-forms==2.0
crispy-bootstrap5==0.7
jsonfield==3.1.0