<!-- This file holds all variables sent from the django view -->


{{ block.super }}
<script>

    const loadNutsUrl = "{% url 'swn:load_nuts_polygon' %}";
    const getUserFieldsUrl = "{% url 'toolbox:get-user-fields' %}";  

    const project_region = {{ project_region|safe }}   
    const outline_soil = {{ project_region|safe }}   
    const outline_sinks = {{ project_region|safe }}   
    const outline_injection = {{ outline_injection|safe }}   
    const outline_infiltration = {{ outline_infiltration|safe }}   
  
              
</script>