{% load crispy_forms_tags %}
{% load static %}

<div id="divInfiltration">
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="toolbox nav-link active" data-bs-toggle="tab" href="#tabToolboxProject" aria-selected="true">Project</a>
        </li>
        <li class="nav-item infiltration">
            <a id="navInfiltrationWeightingForms" class="toolbox nav-link" data-bs-toggle="tab" href="#tabWeightingForms" aria-selected="false"
            data-toggle="tooltip" data-placement="top" title="Erklärung zur Gewichtung Erklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur GewichtungErklärung zur Gewichtung"
            >Gewichtung</a>
        </li>
        <li class="nav-item infiltration">
            <a id="navInfiltrationSinks" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSinks" aria-selected="false">Senken</a>
        </li>
        <li class="nav-item infiltration">
            <a id="navInfiltrationEnlargedSinks" class="toolbox nav-link" data-bs-toggle="tab" href="#tabEnlargedSinks" aria-selected="false">Vergrößerte Senken</a>
        </li>
        
        <li class="nav-item infiltration">
            <a id="navInfiltrationLakes" class="toolbox nav-link" data-bs-toggle="tab" href="#tabLakes" aria-selected="false">Seen</a>
        </li>
        <li class="nav-item infiltration">
            <a id="navInfiltrationStreams" class="toolbox nav-link" data-bs-toggle="tab" href="#tabStreams" aria-selected="false">Flüsse</a>
        </li>
        <li class="nav-item infiltration">
            <a id="navInfiltrationResult" class="toolbox nav-link disabled" aria-disabled="true" data-bs-toggle="tab" href="#tabToolboxResult">Ergebnis</a>
        </li>
    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">

        <div id="tabToolboxProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {{ project_select_form | crispy }}
                
                    <button class="toolbox-back-to-initial btn btn-secondary">Zurück zur Auswahl</button>
            
                </div>
            </div>
        </div>




        <div id="tabSinks" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Filter Natürliche Senken als Versickerungsstandorte</h5>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        <button class="btn btn-secondary toggle-feature-group" data-type="sink">ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy sink_filter.form %}
                        <button id="btnFilterSinks" type="submit" class="btn btn-primary filter-features" data-type="sink">Senken filtern und bewerten</button>
                    </form>
                </div>
            </div>
            <div id="card-sink-table" class="card mb-3 d-none">
                <div class="card-body">
                    <div id="sink-table-container"></div>
                    {% comment %} <button id="btnContinueWithSinkSelection" type="button" class="btn btn-primary mt-3 evaluate-selected-sinks">Auswahl bewerten</button> {% endcomment %}
                    {% comment %} <button id="btnShowSinkOutlines" type="button" class="btn btn-primary mt-3 show-sink-outlines">Senken anzeigen</button> {% endcomment %}

                </div>
            </div>
        </div>

        <div id="tabEnlargedSinks" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Filter Baulich modifizierte Senken als Versickerungsstandorte</h5>
                        <button class="btn btn-secondary toggle-feature-group" data-type="enlarged_sink">ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy enlarged_sink_filter.form %}
                        <button id="btnFilterEnlargedSinks" type="submit" class="btn btn-primary filter-features" data-type="enlarged_sink">Senken filtern und bewerten</button>
                    </form>
                </div>
            </div>
            
            <div id="card-enlarged_sink-table"  class="card mb-3 d-none">
                <div class="card-body">
                    <div id="enlarged_sink-table-container"></div>
                    {% comment %} <button id="btnCntinueWithEnlargedSinkSelection" type="button" class="btn btn-primary mt-3 evaluate-selected-sinks ">Auswahl bewerten</button> {% endcomment %}
                    {% comment %} <button id="btnShowEnlargedSinkOutlines" type="button" class="btn btn-primary mt-3 show-enlarged-sink-outlines">Vergrößerte Senken anzeigen</button> {% endcomment %}
                    {% comment %} <button id="btnShowEmbankments" type="button" class="btn btn-primary mt-3 show-embankment-outlines">Verwallungsstrukturen anzeigen</button> {% endcomment %}
                </div>
            </div>
        </div>

        
        

        <div id="tabLakes" class="tab-pane">
            <h2 class="title">Oberflächengewässer</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title mb-0">Stillgewässer</h5>
                        <button  class="btn btn-secondary toggle-feature-group" data-type="lake">ausblenden</button>                                                                                             
                    </div>

                    
                    <div class="card-body">
                        {% crispy lakes_form.form  %}
                        <button id="btnFilterLakes" class="btn btn-primary mt-3 filter-features" data-type="lake">Seen filtern</button>
                    </div>
                </div>
            </div>
            <div id="card-lake-table"  class="card mb-3 d-none">
                <div class="card-body">
                    <div id="lake-table-container"></div>
                </div>
            </div>
            
        </div>

        <div id="tabStreams" class="tab-pane">
            <h2 class="title">Seen</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title mb-0">Fließgewässer</h5>
                        <button  class="btn btn-secondary toggle-feature-group" data-type="stream">ausblenden</button>                                                                                             
                    </div>

                    
                    <div class="card-body">
                        {% crispy streams_form.form  %}
                        <button id="btnFilterStreams" class="btn btn-primary mt-3 filter-features" data-type="stream">Flüsse filtern</button>
                    </div>
                </div>
            </div>
            <div id="card-stream-table"  class="card mb-3 d-none">
                <div class="card-body">
                    <div id="stream-table-container"></div>
                  
                </div>
            </div>
            
        </div>

        <div id="tabWeightingForms" class="tab-pane">
            <h2 class="title">Gewichtung der Senkeneigenschaften</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gesamtgewichtung</h5>
                    <div class="card-body">
                        {% crispy overall_weighting %}            
                    </div>
                </div>
            </div>
            
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gewichtung der Bodeneignung bei Ackerland</h5>
                    <div class="card-body">
                        {% crispy agriculture_weighting %}            
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gewichtung der Bodeneignung bei Wäldern und diverser Vegetation</h5>
                    <div class="card-body">
                        {% crispy forest_weighting %}            
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gewichtung der Bodeneignung bei Grasland</h5>
                    <div class="card-body">
                        {% crispy grassland_weighting %}            
                    </div>
                </div>
            </div>
            {% comment %} <h2 class="title">Gewichtung der Einlasspunkte</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Distanz und Volumen</h5>
                    <div class="card-body">
                        {% crispy inlet_point_weighting %}            
                    </div>
                </div>
            </div> {% endcomment %}
            
        </div>

        <div id="tabToolboxResult" class="tab-pane ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ergebnis</h5>
                    <table  class="table table-hover" id="inlet-table">
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>Vergrößerte Senke</th>
                            
                            <th>Wasserkörper</th>
                            <th>Länge Zuleitung(m)</th>
                            <th>Eignung Zuleitung</th>
                            <th>Senkeneignung</th>
                            <th>Gesamtbewertung</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="inlet-info-card" class="card mt-3" style="display: none;"></div>
                </div>
            </div>
        </div>
        <button id="btnGetInlets" class="btn btn-primary mt-3">Ergebnis berechnen</button>

    </div>

</div>
