
<!-- Sidebar -->
<div class="sidebar-content">
    <div class="sidebar-pane active" id="toolboxSidebar">
      <h2 class="sidebar-header" > Toolbox</h2>
      <!-- accordion items of layer pane -->
      <div class="accordion accordion-flush" id="toolboxAccordion">
        <!-- Baselayer accordion items -->
        {% comment %} <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#baseLayerCollapse"
              aria-expanded="true"
              aria-controls="baseLayerCollapse"
            >
              Baselayers
            </button>
          </h2>
          <!-- Baselayer collapse -->
          <div
            id="baseLayerCollapse"
            class="accordion-collapse collapse show"
            
          >
            <ul class="list-group sidebar-list base-layer-control-list" id="baseLayerList">
              <!-- leaflet layer control items are inserted here-->
            </ul>
              
          </div>
        </div>  {% endcomment %}
        <!-- overlay accordion items -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#overlayAccordion"
              aria-expanded="false"
              aria-controls="overlayAccordion"
            >
              Overlays
            </button>
          </h2>
          <div
            id="overlayAccordion"
            class="accordion-collapse collapse"
            
            >
            <ul class="list-group sidebar-list" id="overlayList">
              <!-- project region -->
              <li class="list-group-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="projectRegion" class="form-check-input overlay-switch" id="projectRegionSwitch"/>
                    <label class="form-check-label" for="projectRegionSwitch">
                      Spreewasser:N Projektgebiet
                    </label>
                  </div>
                  
                </div>
              </li>

              {% for field in state_county_district_form.visible_fields %}

                <li  class="list-group-item">
                  {{ field }}
                </li>
              {% endfor %} 
              <!-- API Pegelonline.de -->
               <li class="list-group-item toolbox-overlay-sidebar-item" id="liElementWaterLevels">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="waterLevels" class="form-check-input overlay-switch" id="waterLevelsSwitch" />
                    <label class="form-check-label" for="waterLevelsSwitch">
                      Aktuelle Pegelstände
                    </label>
                  </div>
                </div>
              </li> 

              <!-- digital elevation model -->
              <li class="list-group-item toolbox-overlay-sidebar-item" id='liElementDem'>
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="demOverlay" class="form-check-input overlay-switch" id="DEMSwitch"  />
                    <label class="form-check-label" for="DEMSwitch">Höhenmodell</label>
                  </div>
                  <div class="range col-5">
                    <input
                      type="range"
                      class="form-range layer-opacity"
                      data-layer="demOverlay"
                      min="0.0"
                      max="1.0"
                      step="0.1"
                      id="demOverlayOpacity"
                      disabled
                    />
                  </div>
                </div>
              </li>

              <!-- Toolbox overlays -->
              <li class="list-group-item toolbox-overlay-sidebar-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="allRivers" class="form-check-input overlay-switch" id="toolboxOverlayRiverswitch"/>
                    <label class="form-check-label" for="toolboxOverlayRiversSwitch">
                      Flüsse
                    </label>
                  </div>
                </div>
              </li>

              <li class="list-group-item toolbox-overlay-sidebar-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="allLakes" class="form-check-input overlay-switch" id="toolboxOverlayLakesSwitch"/>
                    <label class="form-check-label" for="toolboxOverlayLakesSwitch">
                      Seen
                    </label>
                  </div>
                </div>
              </li>

              {% comment %} <li class="list-group-item toolbox-overlay-sidebar-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="toolboxOutlineRetention" class="form-check-input overlay-switch" id="toolboxOverlayRetentionSwitch"/>
                    <label class="form-check-label" for="toolboxOverlayRetentionSwitch">
                      Wasserrückhaltepotentiale
                    </label>
                  </div>
                </div>
              </li> {% endcomment %}

              {% comment %} <li class="list-group-item toolbox-overlay-sidebar-item d-none">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="toolboxSinks" class="form-check-input overlay-switch" id="toolboxSinksSwitch"/>
                    <label class="form-check-label" for="toolboxSinksSwitch">
                      Senken
                    </label>
                  </div>
                </div>
              </li> {% endcomment %}

              <li class="list-group-item toolbox-overlay-sidebar-item ">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="toolboxOutlineInjection" class="form-check-input overlay-switch" id="toolboxOverlayInjectionSwitch"/>
                    <label class="form-check-label" for="toolboxOverlayInjectionSwitch">
                      Grundwasseranreicherung durch Injektion <i class="bi bi-info-circle" data-toggle="tooltip" data-placement="top" title="Beschreibung Grundwasseranreicherung durch Injektionsgebiet" style="text-align: left;"></i>
                    </label>
                  </div>
                </div>
              </li>

              <li class="list-group-item toolbox-overlay-sidebar-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="toolboxOutlineInfiltration" class="form-check-input overlay-switch" id="toolboxOverlayInfiltrationSwitch"/>
                    <label class="form-check-label" for="toolboxOverlayInfiltrationSwitch">
                      Grundwasseranreicherung durch Versickerung <i class="bi bi-info-circle" data-toggle="tooltip" data-placement="top" title="Beschreibung Grundwasseranreicherung durch Versickerung" style="text-align: left;"></i>
                    </label>
                  </div>  
                </div>
              </li>
              <li class="list-group-item toolbox-overlay-sidebar-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="toolboxOutlineGeste" class="form-check-input overlay-switch" id="toolboxOverlayGesteSwitch"/>
                    <label class="form-check-label" for="toolboxOverlayGesteSwitch">
                      Gesteuerte Drainagen <i class="bi bi-info-circle" data-toggle="tooltip" data-placement="top" title="Beschreibung Gesteuerte Drainagen" style="text-align: left;"></i>
                    </label>
                  </div>
                </div>
              </li>

              <li class="list-group-item toolbox-overlay-sidebar-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="toolboxOutlineSurfaceWater" class="form-check-input overlay-switch" id="toolboxOverlaySurfaceWaterSwitch"/>
                    <label class="form-check-label" for="toolboxOverlaySurfaceWaterSwitch">
                      Senken in Ufernähe <i class="bi bi-info-circle" data-toggle="tooltip" data-placement="top" title="Beschreibung Senken in Ufernähe" style="text-align: left;"></i>
                    </label>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </div>

        <!-- toolbox userfields -->
        <div class="accordion-item" >
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#userFieldsAccordion" aria-expanded="true" aria-controls="userFieldsAccordion">
            Suchgebiete
            </button>
          </h2>
          <div  id="userFieldsAccordion" class="accordion-collapse collapse show" >
            <ul  id="userFieldList" class="list-group sidebar-list">
              <!-- userFields -->
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

