{% load crispy_forms_tags %}
{% load static %}

<div id="divSiekerSurfaceWaters" class="tab-pane">
  
    <div class="d-flex justify-content-between align-items-center mb-3 row">
        <div class="row">
            <h2 class="mb-0">Oberflächengewässer</h2>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <strong>Projekt: </strong><span class="title-project-name">Kein Projekt ausgewählt</span></br>
                <strong>Suchgebiet: </strong><span class="title-user-field-name">Kein Suchgebiet ausgewählt</span></br>
            </div>
            <div class="col-6 text-end">
                <button class="toolbox-back-to-initial btn btn-secondary mx-2">Schließen</button>
                <button class="btn btn-primary mx-2 save-toolbox-project" data-type="sieker_surface_water">Speichern</button>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="toolbox nav-link active" data-bs-toggle="tab" href="#tabSiekerSurfaceWatersProject" aria-selected="true">Projekt</a>
        </li>
    
        <li class="nav-item sieker_surface_water">
            <a id="navSiekerSurfaceWatersLakes" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerSurfaceWatersLakes" aria-selected="false">Seen</a>
        </li>
        <li class="nav-item sieker_surface_water">
            <a id="navSiekerSurfaceWatersLevels" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerSurfaceWatersLevels" aria-selected="false">Pegelzeitreihen</a>
        </li>

        <li class="nav-item sieker_surface_water">
            <a id="navSiekerAbovegroundCatchmentArea" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerAbovegroundCatchmentArea" aria-selected="false">Oberirdische Einzugsgebiete</a>
        </li>

        <li class="nav-item sieker_surface_water">
            <a id="navSiekerSurfaceWatersResultDownload" class="toolbox nav-link"  data-bs-toggle="tab" href="#tabSiekerSurfaceWatersResultDownload">Ergebnisdownload</a>
        </li>


    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">

        <div id="tabSiekerSurfaceWatersProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {% crispy project_select_form %}
            
                </div>
            </div>
        </div>




        <div id="tabSiekerSurfaceWatersLakes" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Filter seen</h5>
                        <button class="btn btn-secondary toggle-feature-group" data-type="sieker_surface_water">Layer ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy sieker_lake_filter.form %}
                        {% comment %} <button id="btnFilterSiekerLakes" type="submit" class="btn btn-primary filter-features" data-type="sieker_surface_water" >Seen filtern</button> {% endcomment %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterSiekerLakesModal">Seen filtern</button>
                        <button id="btnUnfilterSiekerLakes" type="submit" class="btn btn-primary">Alle Seen anzeigen</button>
                    </form>
                </div>
            </div>
            <div id="card-sieker_surface_water-table" class="card mb-3 overflow-auto">
                <div class="card-body">
                    {% comment %} <div id="sieker-lake-table-container" class="table-responsive"></div> {% endcomment %}
                    <div id="sieker_surface_water-table-container" class="table-responsive"></div>
                    {% comment %} <button id="btnContinueWithSinkSelection" type="button" class="btn btn-primary mt-3 evaluate-selected-sinks">Auswahl bewerten</button> {% endcomment %}
                    {% comment %} <button id="btnShowSinkOutlines" type="button" class="btn btn-primary mt-3 show-sink-outlines">Senken anzeigen</button> {% endcomment %}

                </div>
            </div>
        </div>

        <div id="tabSiekerSurfaceWatersLevels" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">

                    <!-- Header row -->
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="card-title mb-0">Pegel</h5>
                        <button class="btn btn-secondary toggle-feature-group" data-type="sieker_water_level">Pegel ausblenden</button>
                    </div>
                

                    <div id="card-sieker_water_level-table" class="card mb-3 d-none">
                        <div class="card-body">
                            <div id="sieker_water_level-table-container" class="table-responsive"></div>           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tabSiekerAbovegroundCatchmentArea" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Oberirdische Einzugsgebiete</h5>
                        <button class="btn btn-secondary toggle-feature-group" data-type="above_ground_catchment_area">Layer ausblenden</button>                                                                                             
                    </div>
                    {% comment %} <div id="sieker-lake-table-container" class="table-responsive"></div> {% endcomment %}
                    <div id="above_ground_catchment_area-table-container" class="table-responsive"></div>
                </div>
            </div>
        </div>



        


        <div id="tabSiekerSurfaceWatersResultDownload" class="tab-pane ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ergebnis</h5>
                    <p>Sie können hier alle ausgewählten Daten herunterladen.</p>
                    {% crispy result_form %}
                </div>
            </div>
        </div>


    </div>

</div>





<!-- Alert modal -->
 <div class="modal" id="filterSiekerLakesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Achtung</h5>
       
      </div>
      <div class="modal-body">
        <p>Einige Seen haben keine Angaben zu Volumen und Tiefe. Diese Seen werden herausgefiltert.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnFilterSiekerLakes" class="btn btn-primary filter-features" data-bs-dismiss="modal" data-type="sieker_surface_water">Seen Filtern</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
      </div>
    </div>
  </div>
</div>