{% load crispy_forms_tags %}
{% load static %}

<div id="divSiekerGek">
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="toolbox nav-link active" data-bs-toggle="tab" href="#tabToolboxProject" aria-selected="true">Project</a>
        </li>
        
        <li class="nav-item sieker-gek">
            <a id="navSiekerGek" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerGeks" aria-selected="false">Gewässerentwicklungskonzepte</a>
        </li>
        <li class="nav-item sieker-gek">
            <a id="navSiekerGekMeasures" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerGekMeasures" aria-selected="false">Maßnahmen</a>
        </li>
        
        <li class="nav-item sieker-gek">
            <a id="navSiekerGekResult" class="toolbox nav-link disabled" aria-disabled="true" data-bs-toggle="tab" href="#tabSiekerGekResult">Ergebnis</a>
        </li>
    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">

        <div id="tabToolboxProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {{ project_select_form | crispy }}
                
                    <button class="toolbox-back-to-initial btn btn-secondary">Zurück zur Auswahl</button>
            
                </div>
            </div>
        </div>




        <div id="tabSiekerGeks" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Filter Maßnahmen zur Gewässerentwicklung</h5>
                        <button id="toggleSiekerGeks" class="btn btn-secondary">ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy gek_filter_form.form %}
                        <button id="btnFilterSiekerGeks"type="submit" class="btn btn-primary">Maßnahmen filtern</button>
                    </form>
                </div>
            </div>
            
            <div id="cardSiekerGekTable" class="card mb-3 d-none">
                <div class="card-body">
                    <div class="card-title">Gewässer</div>
                    <div id="sieker_gek-table-container"></div>
                    
                </div>
            </div>
        </div>

        <div id="tabSiekerGekMeasures" class="tab-pane">

            <div id="cardSiekerGekMeasuresCard" class="card mb-3">

                
                <div class="card-body">
                    <h5 class="card-title">Maßnahmen</h5>
                    <div id="filtered_sieker_gek-table-container"></div>
                    <div id="sieker_gek-info-card" class="card mt-3" style="display: none;">
                        <div id="sieker_gek-info-card-body" class="card-body"></div>
                    </div>
                </div>
            
                    

            </div>
        </div>


    </div>

</div>
