{% load crispy_forms_tags %}
{% load static %}

<div id="divSiekerSurfaceWaters" class="tab-pane">
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="toolbox nav-link active" data-bs-toggle="tab" href="#tabSiekerSurfaceWatersProject" aria-selected="true">Project</a>
        </li>
    
        <li class="nav-item sieker-surface-waters">
            <a id="navSiekerSurfaceWatersLakes" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerSurfaceWatersLakes" aria-selected="false">Seen</a>
        </li>
        <li class="nav-item sieker-surface-waters">
            <a id="navSiekerSurfaceWatersLevels" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerSurfaceWatersLevels" aria-selected="false">Pegelzeitreihen</a>
        </li>

        <li class="nav-item sieker-surface-waters">
            <a id="navSiekerSurfaceWatersResult" class="toolbox nav-link disabled" aria-disabled="true" data-bs-toggle="tab" href="#tabSiekerSurfaceWatersResult">Ergebnis</a>
        </li>
    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">

        <div id="tabSiekerSurfaceWatersProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {{ project_select_form | crispy }}
                
                    <button class="toolbox-back-to-initial btn btn-secondary">Zurück zur Auswahl</button>
            
                </div>
            </div>
        </div>




        <div id="tabSiekerSurfaceWatersLakes" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Filter seen</h5>
                        <button id="toggleSiekerLakes" class="btn btn-secondary">ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy sieker_lake_filter.form %}
                        <button id="btnFilterSiekerLakes"type="submit" class="btn btn-primary">Seen filtern</button>
                    </form>
                </div>
            </div>
            <div id="cardSiekerLakeTable" class="card mb-3">
                <div class="card-body">
                    <div id="sieker-lake-table-container"></div>
                    {% comment %} <button id="btnContinueWithSinkSelection" type="button" class="btn btn-primary mt-3 evaluate-selected-sinks">Auswahl bewerten</button> {% endcomment %}
                    {% comment %} <button id="btnShowSinkOutlines" type="button" class="btn btn-primary mt-3 show-sink-outlines">Senken anzeigen</button> {% endcomment %}

                </div>
            </div>
        </div>

        <div id="tabSiekerSurfaceWatersLevels" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Pegel</h5>
                        <button id="toggleSiekerLevels" class="btn btn-secondary">ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% comment %} {% crispy sink_filter.form %} {% endcomment %}
                        <button id="btnFilterSiekerSinks"type="submit" class="btn btn-primary">Senken filtern und bewerten</button>
                    </form>
                </div>
            </div>
            <div id="cardSinkTable" class="card mb-3">
                <div class="card-body">
                    <div id="sink-table-container"></div>
                    {% comment %} <button id="btnContinueWithSinkSelection" type="button" class="btn btn-primary mt-3 evaluate-selected-sinks">Auswahl bewerten</button> {% endcomment %}
                    {% comment %} <button id="btnShowSinkOutlines" type="button" class="btn btn-primary mt-3 show-sink-outlines">Senken anzeigen</button> {% endcomment %}

                </div>
            </div>
        </div>



        


        <div id="tabSiekerSurfaceWatersResult" class="tab-pane ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ergebnis</h5>
                    <table  class="table table-hover" id="inlet-table">
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>Vergrößerte Senke</th>
                            <th>Senkeneignung</th>
                            <th>Wasserkörper</th>
                            <th>Länge Zuleitung(m)</th>
                            <th>Bewertung Zuleitung</th>
                            <th>Gesamtbewertung</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="inlet-info-card" class="card mt-3" style="display: none;"></div>
                </div>
            </div>
        </div>
        

    </div>

</div>
