{% load crispy_forms_tags %}
{% load static %}

<div id="divSiekerWetland">
    
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Ehemalige Feuchtgebiete</h2>
        <div>
            <button class="btn btn-primary me-2 save-toolbox-project" data-type="sieker_wetland">Speichern</button>
        </div>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="toolbox nav-link active" data-bs-toggle="tab" href="#tabToolboxProject" aria-selected="true">Project</a>
        </li>
        
        <li class="nav-item sieker-wetland">
            <a id="navSiekerWetland" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerWetlands" aria-selected="false">Ehemalige Feuchtgebiete</a>
        </li>
        {% comment %} <li class="nav-item sieker-wetland">
            <a id="navSiekerWetlandMeasures" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerWetlandMeasures" aria-selected="false">Maßnahmen</a>
        </li> {% endcomment %}
        
        <li class="nav-item sieker-wetland">
            <a id="navSiekerWetlandResult" class="toolbox nav-link disabled" aria-disabled="true" data-bs-toggle="tab" href="#tabSiekerWetlandResult">Ergebnis</a>
        </li>
    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">

        <div id="tabToolboxProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {{ project_select_form | crispy }}
                
                    <button class="toolbox-back-to-initial btn btn-secondary">Zurück zur Auswahl</button>
                    <button class="toolbox-load-project btn btn-secondary">Laden</button>
            
                </div>
            </div>
        </div>




        <div id="tabSiekerWetlands" class="tab-pane">

            
            <div class="card mb-3">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy wetlands_filter.form %}
                        <button id="btnFilterSiekerWetlands"type="submit" class="btn btn-primary">Ehemalige Feuchtgebiete filtern</button>
                    </form>
                    
            
                </div>
            </div>
            
            
            <div id="card-sieker_wetland-table" class="card mb-3 d-none">
                <div class="card-body">
                    <button id="toggleSiekerWetlands" class="btn btn-secondary">ausblenden</button>                                                                                             

                    <div class="card-title">Gewässer</div>
                    <div id="sieker_wetland-table-container"></div>
                    
                </div>
            </div>
        </div>

    </div>

</div>
