{% load crispy_forms_tags %}
{% load static %}

<div id="divSiekerSink">
    
    <div class="d-flex justify-content-between align-items-center mb-3 row">
        <div class="row">
            <h2 class="mb-0">Gewässernahe Senken</h2>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <strong>Projekt: </strong><span class="title-project-name">Kein Projekt ausgewählt</span></br>
                <strong>Suchgebiet: </strong><span class="title-user-field-name">Kein Suchgebiet ausgewählt</span></br>
            </div>
            <div class="col-6 text-end">
                <span id="spanBtnGetSiekerSinkResults">
                <button id="btnGetSiekerSinkResults" class="btn btn-primary mx-2" data-type="sieker_sink">Ergebnis berechnen</button>
                </span>
                <button class="toolbox-back-to-initial btn btn-secondary mx-2">Schließen</button>
                <button class="btn btn-primary mx-2 save-toolbox-project" data-type="sieker_sink">Speichern</button>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="toolbox nav-link active" data-bs-toggle="tab" href="#tabToolboxProject" aria-selected="true">Projekt</a>
        </li>
        
        <li class="nav-item sieker-sink">
            <a id="navSiekerSinks" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerSinks" aria-selected="false">Senken</a>
        </li>
        
        <li class="nav-item sieker-sink">
            <a id="navSiekerSinkLakes" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerLakes" aria-selected="false">Seen</a>
        </li>
        <li class="nav-item sieker-sink">
            <a id="navSiekerSinkStreams" class="toolbox nav-link" data-bs-toggle="tab" href="#tabStreams" aria-selected="false">Flüsse</a>
        </li>
        
        <li class="nav-item sieker-sink">
            <a id="navSiekerSinkResult" class="toolbox nav-link disabled" aria-disabled="true" data-bs-toggle="tab" href="#tabSiekerSinkResult">Ergebnis</a>
        </li>

        <li class="nav-item infiltration">
            <a id="navSiekerSinkResultDownload" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerSinkResultDownload">Download</a>
        </li>


    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">

        <div id="tabToolboxProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {% crispy project_select_form %}
            
                </div>
            </div>
        </div>




        <div id="tabSiekerSinks" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Filter Natürliche Senken als Versickerungsstandorte</h5>
                        <button  class="btn btn-secondary toggle-feature-group" data-type="sieker_sink">Layer ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy sieker_sink_filter.form %}
                        <button id="btnFilterSiekerSinks"type="submit" class="btn btn-primary filter-features" data-type="sieker_sink">Senken filtern</button>
                    </form>
                </div>
            </div>
            <div id="card-sieker_sink-table" class="card mb-3 d-none">
                <div class="card-body">
                    <div id="sieker_sink-table-container" class="table-responsive"></div>
                    
                </div>
            </div>
        </div>

        <div id="tabSiekerLakes" class="tab-pane">
            {% comment %} <h2 class="title">Oberflächengewässer</h2> {% endcomment %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title mb-0">Stehende Gewässer</h5>
                        <button  class="btn btn-secondary toggle-feature-group" data-type="sieker_lake">Layer ausblenden</button>                                                                                             
                    </div>

                    
                    <div class="card-body">
                        {% crispy lakes_form.form  %}
                        <button class="btn btn-primary mt-3 filter-features filter-waterbodies" data-type="sieker_lake">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                            Seen filtern
                        </button>
                    </div>
                </div>
            </div>
            <div id="card-sieker_lake-table"  class="card mb-3 d-none">
                <div class="card-body">
                    <div id="sieker_lake-table-container" class="table-responsive"></div>
                </div>
            </div>
            
        </div>

        <div id="tabStreams" class="tab-pane">
            {% comment %} <h2 class="title">Seen</h2> {% endcomment %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title mb-0">Fließgewässer</h5>
                        <button  class="btn btn-secondary toggle-feature-group" data-type="sieker_stream">Layer ausblenden</button>                                                                                             
                    </div>

                    
                    <div class="card-body">
                        {% crispy streams_form.form  %}
                        <button class="btn btn-primary mt-3 filter-features filter-waterbodies" data-type="sieker_stream">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                            Flüsse filtern
                        </button>
                    </div>
                </div>
            </div>
            <div id="card-sieker_stream-table"  class="card mb-3 d-none">
                <div class="card-body">
                    <div id="sieker_stream-table-container" class="table-responsive"></div>
                  
                </div>
            </div>
            
        </div>

        <div id="tabSiekerSinkResult" class="tab-pane ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ergebnis</h5>
                    <div id="sieker_sink_result-table-container" class="table-responsive"></div>  
                    
                </div>
            </div>
        </div>



        <div id="tabSiekerSinkResultDownload" class="tab-pane ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ergebnis</h5>
                    <p>Sie können hier alle ausgewählten Daten herunterladen.</p>
                    {% crispy result_form %}
                </div>
            </div>
        </div>

    </div>

</div>
