{% load crispy_forms_tags %}
{% load static %}

<div id="divSiekerWetland">
    
    <div class="d-flex justify-content-between align-items-center mb-3 row">
        <div class="row">
            <h2 class="mb-0">Ehemalige Feuchtgebiete</h2>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <strong>Projekt: </strong><span class="title-project-name">Kein Projekt ausgewählt</span></br>
                <strong>Suchgebiet: </strong><span class="title-user-field-name">Kein Suchgebiet ausgewählt</span></br>
            </div>
            <div class="col-6 text-end">
                <span class="spinner-span" data-type="wetland_result" id="spanBtnGetSiekerWetlandResults">
                <button id="btnGetSiekerWetlandResults" class="btn btn-primary mx-2 get-result-button" data-type="wetland">Ergebnis berechnen</button>
                </span>
                <button class="toolbox-back-to-initial btn btn-secondary mx-2">Schließen</button>
                <button class="btn btn-primary mx-2 save-toolbox-project" data-type="wetland">Speichern</button>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="toolbox nav-link project-nav-link active" data-bs-toggle="tab" href="#tabToolboxProject" aria-selected="true">Projekt</a>
        </li>
        
        <li class="nav-item sieker-wetland">
            <a id="navSiekerWetland" class="toolbox nav-link nav-link-start" data-bs-toggle="tab" href="#tabSiekerWetlands" aria-selected="false">Ehemalige Feuchtgebiete</a>
        </li>
        <li class="nav-item sieker-wetland">
            <a id="navSiekerWetlandsLakes" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerWetlandsLakes" aria-selected="false">Seen</a>
        </li>
        <li class="nav-item sieker-wetland">
            <a id="navSiekerWetlandsStreams" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerWetlandsStreams" aria-selected="false">Flüsse</a>
        </li>
        
        <li class="nav-item sieker-wetland">
            <a id="navSiekerWetlandsResult" class="toolbox result-tab nav-link disabled" aria-disabled="true" data-bs-toggle="tab" href="#tabSiekerWetlandsResult">Ergebnis</a>
        </li>

        <li class="nav-item infiltration">
            <a id="navSiekerWetlandResultDownload" class="toolbox nav-link" data-bs-toggle="tab" href="#tabSiekerWetlandResultDownload">Download</a>
        </li>

    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">

        <div id="tabToolboxProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {% crispy project_select_form %}
            
                </div>
            </div>
        </div>


        <div id="tabSiekerWetlands" class="tab-pane">  
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title mb-0">Ehemalige Feuchtgebiete</h5>
                        <button class="btn btn-secondary toggle-feature-group" data-type="wetland_lake">Layer ausblenden</button>  
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% crispy wetlands_filter.form %}
                        <button id="btnFilterSiekerWetlands"type="submit" class="btn btn-primary">Ehemalige Feuchtgebiete filtern</button>
                    </form>
                </div>
            </div>
            
            
            <div id="card-wetland-table" class="card table-card mb-3 d-none">
                <div class="card-body">
                                                                                                               
                    <div id="wetland-table-container" class="table-responsive table-container"></div>     
                </div>
            </div>
        </div>


        <div id="tabSiekerWetlandsLakes" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title mb-0">Stehende Gewässer</h5>
                        <button  class="btn btn-secondary toggle-feature-group" data-type="wetland_lake">Layer ausblenden</button>                                                                                             
                    </div>

                    
                    <div class="card-body">
                        {% crispy lakes_form.form  %}
                        <button class="btn btn-primary mt-3 filter-features filter-waterbodies" data-type="wetland_lake">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                            Seen filtern
                        </button>
                    </div>
                </div>
            </div>
            <div id="card-wetland_lake-table"  class="card table-card mb-3 d-none">
                <div class="card-body">
                    <div id="wetland_lake-table-container" class="table-responsive table-container"></div>
                </div>
            </div>
            
        </div>

        <div id="tabSiekerWetlandsStreams" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title mb-0">Fließgewässer</h5>
                        <button  class="btn btn-secondary toggle-feature-group" data-type="wetland_stream">Layer ausblenden</button>                                                                                             
                    </div>

                    
                    <div class="card-body">
                        {% crispy streams_form.form  %}
                        <button class="btn btn-primary mt-3 filter-features filter-waterbodies" data-type="wetland_stream">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                            Flüsse filtern
                        </button>
                    </div>
                </div>
            </div>
            <div id="card-wetland_stream-table"  class="card table-card mb-3 d-none">
                <div class="card-body">
                    <div id="wetland_stream-table-container" class="table-responsive table-container"></div>
                  
                </div>
            </div>
            
        </div>

        <div id="tabSiekerWetlandsResult" class="tab-pane ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ergebnis</h5>
                    <div id="wetland_result-table-container" class="table-responsive table-container"></div>  
                    
                </div>
            </div>
        </div>



        <div id="tabSiekerWetlandResultDownload" class="tab-pane ">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ergebnis</h5>
                    <p>Sie können hier alle ausgewählten Daten herunterladen.</p>
                    {% crispy result_form %}
                </div>
            </div>
        </div>


    </div>

</div>
