{% extends "swn/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}

<form method="post">
    {{ form|crispy }}
    <button type="submit">Submit</button>
</form>



<p>
    this is a test
  </p>
  <div id="slider-outer-div">
    <div id="slider-max-label" class="slider-label"></div>
    <div id="slider-min-label" class="slider-label"></div>
    <div id="slider-div">
      <div>50 DH</div>
      <div>
        <input id="ex2" type="text" data-slider-min="50"
           data-slider-max="2000" data-slider-value="[50,300]"
           data-slider-tooltip="hide" />
      </div>
      <div>2000 DH</div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <script>
    const setLabel = (lbl, val) => {
        const label = $(`#slider-${lbl}-label`);
        label.text(val);
        const slider = $(`#slider-div .${lbl}-slider-handle`);
        const rect = slider[0].getBoundingClientRect();
        label.offset({
          top: rect.top - 30,
          left: rect.left
        });
      }
      
      const setLabels = (values) => {
        setLabel("min", values[0]);
        setLabel("max", values[1]);
      }
      
      
      $('#ex2').slider().on('slide', function(ev) {
        setLabels(ev.value);
      });
      setLabels($('#ex2').attr("data-value").split(","));
    </script>
{% endblock body_block %}