

{% extends "swn/base.html" %}

{% load static %}
{% load crispy_forms_tags %}


{% block body_block %}

<script>
    console.log("Toolbox Sinks Edit", {{ area_id }});
    var userToolboxAreaId = '{{ area_id }}';
  
    
</script>



<div class="container-fluid p-5">
    <div class="row">
        <h1> TOOLBOX Senken </h1>
        <h1>ID:{{ area_id }} Feld: {{ name }}</h1>
    </div>
    <div class="row">
      <div class="card mb-3">
        <div id="sinkSelectDiv" class="card-body">
          <h5 class="card-title">Senken im Suchgebiet</h5>
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Landnutzung 1</h5>              
              {% for land_use in distinct_land_use_1 %}<div class="input-group mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      {{ land_use }}
                    </label>
                </div>
               {% endfor %}
            </div>
          </div>
        </div>
        <!-- div card -->
      </div>    
    <!-- div row-->
    </div>
</div>
</div>
</div>

    <div class="row">
    
        <div class="card mb-3">
            <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tiefe</th>
                    <th scope="col">Fläche</th>
                    <th scope="col">Index 1</th>
                    <th scope="col">Index 2</th>
                    <th scope="col">Landnutzung 1</th>
                    <th scope="col">Landnutzung 2</th>
                </tr>
                </thead>
                <tbody id="sinkTable">
                {% for sink in sinks %}
                    <tr>
                    <th scope="row">{{ sink.objectid }}</th>
                    <td>{{ sink.depth_sink }}</td>
                    <td>{{ sink.area_sink }}</td>
                    <td>{{ sink.index_sink }}</td>
                    <td>{{ sink.index_si_1 }}</td>
                    <td>{{ sink.land_use_1 }}</td>
                    <td>{{ sink.land_use_2 }}</td>
                    <td>
                        <button class="btn btn-danger">Löschen</button>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>

        
        </div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/toolbox_sinks_edit.js' %}" type="module"></script>

{% endblock %}
```