{% extends 'shared/three_split.html' %} 
{% load component_tags %}
{% load static %} 
{% load crispy_forms_tags %}
{% load leaflet_tags %} 
{% load geojson_tags %} 
{% block css %} 
{{ block.super }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.contextmenu.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" />
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/> {% endcomment %}
    <!-- virtual-select is for the multiple select boxes -->
    <link rel="stylesheet" href="{% static 'vendor/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css">
    <link rel="stylesheet" href="{% static 'vendor/leaflet/MarkerCluster.css' %}" />
	<link rel="stylesheet" href="{% static 'vendor/leaflet/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">


{% endblock css %} 


{% block right_panel %}
        <div id="map" style="height: 100%; width: 100%">
            
        </div>
{% endblock right_panel %}




{% block left_panel %}
    {% include 'toolbox/sidebar.html' %}
    {% include 'toolbox/toolbox_modals.html' %}
    {% include 'swn/modal_field_name.html' %}
    {% include 'swn/modal_field_menu.html' %}
{% endblock left_panel %}

{% block bottom_panel %}

<div id="toolboxButtons" class="overflow-auto row">
    <card class="card mb-3 col-3">
        <div class="card-header">
            <button id="startInfiltration" class="btn btn-outline-secondary mt-3"><b>Grundwasseranreicherung durch Versickerung</b></button>
        </div>
        <div class="card-body">
            <p>Das Tool bietet eine Auswahl von vorbewerteten Standorten zur Anreicherung des Grundwassers durch naturnahe und baulich angelegte Versickerungsmaßnahmen.</p>
        </div>
    </card>
    <card class="card mb-3 col-3">
        <div class="card-header">
            <button id="startInjection" class="btn btn-outline-secondary mt-3"><b>Grundwasseranreicherung durch  Injektion</b></button>
        </div>
        <div class="card-body">
            <p>Das Tool ermöglicht die Auswahl von Standorten zur Anreicherung des Grundwassers mittels Injektion in die tiefer gelegenen gespannten Grundwasserleiter.</p>
        </div>
    </card>
    <card class="card mb-3 col-3">
      
        <div class="dropdown">
            <div class="card-header">
                <button class="btn btn-outline-secondary mt-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>Gewässertool</b>
                </button>
            
                <ul class="dropdown-menu">
                    <li><a id="startSurfaceWaters" class="dropdown-item" href="#">Oberflächengewässer</a></li>
                    <li><a id="startSiekerSinks" class="dropdown-item" href="#">Senken</a></li>
                    <li><a id="startWaterDevelopment" class="dropdown-item" href="#">Gewässerentwicklungskonzepte</a></li>
                    <li><a id="startFormerWetlands" class="dropdown-item" href="#">Ehemalige Feuchtgebiete</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <p>Das Tool bietet Möglichkeiten zur Auswahl von Standorten, die sich für Renaturierungs- und Versickerungsmaßnahmen in Ufernähe eignen. </p>
        </div>

    </card>
    <card class="card mb-3 col-3">
        <div class="card-header">
            <button id="startDrainage" class="btn btn-outline-secondary mt-3"><b>Gesteuerte Drainagen</b></button>
        </div>
        <div class="card-body">
            <p>Das Tool ermöglicht die Planung von Maßnahmen zum Wasserrückhalt durch den Einsatz von gesteuerten Drainagen.</p>
        </div>
    </card>
    
    
</div>

<div id="toolboxPanel" class="overflow-auto">
</div>



{% endblock bottom_panel %}




{% block javascript %}
    {{ block.super }}

    <script>


        const getUserFieldsUrl = "{% url 'toolbox:get-user-fields' %}";  

        const demUrl= "{% static 'data/dem_3857.png' %}"
        const toolboxUrl= "{% static 'data/soil_4326_rendered_image_2.png' %}"
        const toolboxSinksUrl = "{% static 'data/sinks_3857_pink.png' %}"
    
        const project_region = {{ project_region|safe }}   

        const outline_injection = {{ outline_injection|safe }}   
        const outline_surface_water = {{ outline_surface_water|safe }}   
        const outline_infiltration = {{ outline_infiltration|safe }}    
      
                  
    </script>

    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>{% endcomment %}
    <script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap-datepicker.de.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'vendor/leaflet/leaflet.contextmenu.js' %}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
    {% comment %} <script src="{% static 'swn/js/leaflet-sidebar.min.js' %}"></script> {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>

    {% comment %} <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script> {% endcomment %}

    
    <script type="text/javascript" src="{% static 'vendor/virtual-select/virtual-select.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'vendor/leaflet/leaflet.markercluster-src.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="module" src="{% static 'toolbox/toolbox_three_split.js' %}" ></script>
{% endblock %}

