{% extends 'shared/three_split.html' %} 
{% load component_tags %}
{% load static %} 
{% load crispy_forms_tags %}
{% load leaflet_tags %} 
{% load geojson_tags %} 
{% block css %} 
{{ block.super }}
    
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.contextmenu.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap-datepicker.standalone.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap.plugins/bootstrap-slider/bootstrap-slider.min.css' %}"/> 
    
    <!-- virtual-select is for the multiple select boxes -->
    <link rel="stylesheet" href="{% static 'vendor/virtual-select/virtual-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/leaflet.plugins/leaflet-draw/leaflet.draw.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/leaflet/MarkerCluster.css' %}" />
	<link rel="stylesheet" href="{% static 'vendor/leaflet/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/dataTable/dataTables.bootstrap5.min.css' %}" />
    {% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'vendor/dataTable.plugins/resizable-columns/jquery.resizableColumns.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.legend.css' %}" />
    <link rel="stylesheet" href="{% static 'swn/css/user_dashboard.css' %}" />

    <link rel="stylesheet" href="{% static 'toolbox/toolbox.css' %}" />


{% endblock css %} 


{% block right_panel %}
        <div id="map">
            <div id="draw-hint" class="draw-hint d-none"></div>
        </div>
{% endblock right_panel %}




{% block left_panel %}
<div id="modal-container"></div>
    {% include 'toolbox/sidebar.html' %}
    {% include 'toolbox/toolbox_modals.html' %}
    {% include 'swn/modal_field_name.html' %}
    {% include 'swn/modal_field_menu.html' %}
{% endblock left_panel %}

{% block bottom_panel %}
    <div id="toolboxButtons" class="card mb-3">
        <div class="card-body">

            <div class="row g-3 overflow-auto">
                <div class="col-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <button id="startInfiltration" class="btn mt-3">
                                <b>Grundwasseranreicherung durch Versickerung</b>
                            </button>
                        </div>
                        <div class="card-body">
                            <p>Das Tool bietet eine Auswahl von vorbewerteten Standorten zur Anreicherung des Grundwassers durch naturnahe und baulich angelegte Versickerungsmaßnahmen.</p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <button id="startInjection" class="btn mt-3">
                                <b>Grundwasseranreicherung durch Injektion</b>
                            </button>
                        </div>
                        <div class="card-body">
                            <p>Das Tool ermöglicht die Auswahl von Standorten zur Anreicherung des Grundwassers mittels Injektion in die tiefer gelegenen gespannten Grundwasserleiter.</p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <button class="btn mt-3 dropdown-toggle"
                                    type="button"
                                    data-bs-toggle="dropdown">
                                <b>Gewässertool</b>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a id="startSurfaceWaters" class="dropdown-item">Oberflächengewässer</a></li>
                                <li><a id="startSiekerSinks" class="dropdown-item">Gewässernahe Senken</a></li>
                                <li><a id="startWaterDevelopment" class="dropdown-item">Gewässerentwicklungskonzepte</a></li>
                                <li><a id="startFormerWetlands" class="dropdown-item">Ehemalige Feuchtgebiete</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Das Tool bietet Möglichkeiten zur Auswahl von Standorten, die sich für Renaturierungs- und Versickerungsmaßnahmen in Ufernähe eignen.
                            Hierbei können Sie zwischen vier verschiedenen Speichermethoden wählen.           
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <button id="startDrainage" class="btn mt-3">
                                <b>Drän-Speicher Tool</b>
                            </button>
                        </div>
                        <div class="card-body">
                            <p>Dieses Tool zeigt potenzielle Standorte von Entwässerungsgräben und Drainagesystemen, in denen Wasser durch Einstau zurückgehalten werden kann. Sind in der Datenbank keine bestehenden Entwässerungssysteme verzeichnet, weist das Tool Bereiche aus, in denen mit hoher Wahrscheinlichkeit in der Vergangenheit Drainagen oder Gräben angelegt wurden.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="toolboxPanel">
    </div>



{% endblock bottom_panel %}




{% block javascript %}
    {{ block.super }}

    <script>


        const getUserFieldsUrl = "{% url 'toolbox:get-user-fields' %}";  
        const project_region = {{ project_region|safe }}   

        {% comment %} const outline_injection = {{ outline_injection|safe }}    {% endcomment %}
        {% comment %} const outline_surface_water = {{ outline_surface_water|safe }}    {% endcomment %}
        {% comment %} const outline_infiltration = {{ outline_infiltration|safe }}    {% endcomment %}
        
        const userId  = "{{ request.user.id }}"
        {% comment %} const all_rivers_feature_collection = {{ all_rivers_feature_collection|safe }}
        const all_lakes_feature_collection = {{ all_lakes_feature_collection|safe }} {% endcomment %}
        
      
                  
    </script>

    
    <script type="text/javascript" src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/leaflet.plugins/leaflet-draw/leaflet.draw.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/leaflet.plugins/leaflet-ajax/leaflet.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/leaflet/leaflet.legend.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/leaflet/leaflet.contextmenu.js' %}"></script> 
    <script type="text/javascript" src="{% static 'vendor/leaflet/leaflet.markercluster-src.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/leaflet.plugins/leaflet-geoserver/L.Geoserver.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap-datepicker.de.min.js' %}"></script> 

    <script type="text/javascript" src="{% static 'vendor/dataTable/jquery.dataTables.js' %}" ></script>
    <script type="text/javascript" src="{% static 'vendor/dataTable/dataTables.bootstrap5.min.js' %}" ></script>
    {% comment %} <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'vendor/virtual-select/virtual-select.min.js' %}"></script> 

    
    <script type="text/javascript" src="{% static 'vendor/bootstrap.plugins/bootstrap-slider/bootstrap-slider.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'vendor/chartjs/chart.umd.min.js' %}"></script>     
    <script type="text/javascript" src="{% static 'vendor/chartjs/chartjs-plugin-zoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/date-fns/date-fns.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/chartjs/chartjs-adapter-date-fns.bundle.min.js' %}"></script>
    


    <script type="module" src="{% static 'toolbox/toolbox_three_split.js' %}" ></script>
{% endblock %}

