{% load crispy_forms_tags %}
{% load static %}

<div id="divTuMar">
    <h2>Grundwasseranreicherung durch Injektion</h2>
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="toolbox nav-link active" data-bs-toggle="tab" href="#tabToolboxProject" aria-selected="true">Project</a>
        </li>
        
        
        <li class="nav-item tuMar">
            <a id="navTuMarSuitabilityAquiferThickness" class="toolbox nav-link" data-type="aquifer_thickness" data-bs-toggle="tab" href="#tabTuMarSuitabilityAquiferThickness" aria-selected="false">Aquifermächtigkeit</a>
        </li>
        <li class="nav-item tuMar">
            <a id="navTuMarSuitabilityDepthToGW" class="toolbox nav-link" data-type="depth_groundwater" data-bs-toggle="tab" href="#tabTuMarSuitabilityDepthGW" aria-selected="false">Grundwasserflurabstand</a>
        </li>
        <li class="nav-item tuMar">
            <a id="navTuMarSuitabilityLandUse" class="toolbox nav-link" data-type="land_use" data-bs-toggle="tab" href="#tabTuMarSuitabilityLandUse" aria-selected="false">Landnutzung</a>
        </li>
        <li class="nav-item tuMar">
            <a id="navTuMarSuitabilityDistanceSource" class="toolbox nav-link" data-type="distance_to_source" data-bs-toggle="tab" href="#tabTuMarSuitabilityDistanceSource" aria-selected="false">Distanz zu Gewässern</a>
        </li>
        <li class="nav-item tuMar">
            <a id="navTuMarSuitabilityDistanceWells" class="toolbox nav-link"  data-type="distance_to_well" data-bs-toggle="tab" href="#tabTuMarSuitabilityDistanceWells">Distanz zu Entnahmebrunnen</a>
        </li> 
        <li class="nav-item tuMar">
            <a id="navTuMarSuitabilityHydraulicConductivity" class="toolbox nav-link"  data-type="hydraulic_conductivity" data-bs-toggle="tab" href="#tabTuMarSuitabilityHydraulicConductivity">Hydraulische Leitfähigkeit</a>
        </li> 
        <li class="nav-item tuMar">
            <a id="navTuMarSinks" class="toolbox nav-link" data-bs-toggle="tab" href="#tabTuMarWeighting" aria-selected="false">Gesamtgewichtung</a>
        </li>
        
    </ul>

    <!-- Tab Content Wrapper -->
    <div class="tab-content" id="toolboxTabContent">
        
        <div id="tabToolboxProject" class="tab-pane active show">
            <div class="card mb-3">
                <div class="card-body">
                    {{ project_select_form | crispy }}
                
                    <button class="toolbox-back-to-initial btn btn-secondary">Zurück zur Auswahl</button>
            
                </div>
            </div>
        </div>


        <div id="tabTuMarWeighting" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Gesamtgewichtung</h5>
                        <button id="btn-mar-result-map" class="btn btn-secondary disabled" data-type="result">Ergebnis einblenden</button>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        {% comment %} <button class="btn btn-secondary toggle-tile-layer" data-type="overall_weightings">einblenden</button>                                                                                              {% endcomment %}
                    </div>
                    
                    <form method="GET" id="{{ tu_mar_weightings_form.helper.form_id }}" class="{{ tu_mar_weightings_form.helper.form_class }}">
                        {% csrf_token %}
                        {% crispy tu_mar_weightings_form %}
                        <button  type="submit" class="btn btn-primary calculate-area" data-type="tu_mar_weightings">Fläche berechnen</button>
                    </form>
                </div>
            </div>       
        </div>

        <div id="tabTuMarSuitabilityAquiferThickness" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Eignungen Mächtigkeit des Grundwasserleiters 2</h5>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        <button class="btn btn-secondary toggle-tile-layer" data-type="aquifer_thickness">Ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="GET" id="{{ suitability_aquifer_thickness.helper.form_id }}" class="{{ suitability_aquifer_thickness.helper.form_class }}">
                        {% csrf_token %}
                        {% crispy suitability_aquifer_thickness %}
                        
                    </form>
                </div>
            </div>       
        </div>

        <div id="tabTuMarSuitabilityDepthGW" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Eignungen des Grundwasserflurabstandes</h5>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        <button class="btn btn-secondary toggle-tile-layer shown" data-type="depth_groundwater">Ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="GET" id="{{ suitability_depth_groundwater_form.helper.form_id }}" class="{{ suitability_depth_groundwater_form.helper.form_class }}">
                        {% csrf_token %}
                        {% crispy suitability_depth_groundwater_form %}
                        
                    </form>
                </div>
            </div>       
        </div>

        <div id="tabTuMarSuitabilityLandUse" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Eignungen der Landnutzung</h5>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        <button class="btn btn-secondary toggle-tile-layer shown" data-type="land_use">Ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="GET" id="{{ suitability_land_use_form.helper.form_id }}" class="{{ suitability_land_use_form.helper.form_class }}">
                        {% csrf_token %}
                        {% crispy suitability_land_use_form %}
                        
                    </form>
                </div>
            </div>       
        </div>

        <div id="tabTuMarSuitabilityDistanceSource" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Eignungen Abstand zu Flussläufen oder Seen</h5>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        <button class="btn btn-secondary toggle-tile-layer shown" data-type="distance_to_source">Ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="GET" id="{{ suitability_distance_to_source_form.helper.form_id }}" class="{{ suitability_distance_to_source_form.helper.form_class }}">
                        {% csrf_token %}
                        {% crispy suitability_distance_to_source_form %}
                        
                    </form>
                </div>
            </div>       
        </div>

        <div id="tabTuMarSuitabilityDistanceWells" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Eignungen Abstand Entnahmebrunnen</h5>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        <button class="btn btn-secondary toggle-tile-layer shown" data-type="distance_to_well">Ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="GET" id="{{ suitability_distance_to_well_form.helper.form_id }}" class="{{ suitability_distance_to_well_form.helper.form_class }}">
                        {% csrf_token %}
                        {% crispy suitability_distance_to_well_form %}
                        
                    </form>
                </div>
            </div>       
        </div>

         <div id="tabTuMarSuitabilityHydraulicConductivity" class="tab-pane">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title">Eignungen Hydraulische Leitfähigkeit</h5>
                        {% comment %} <button id="toggleSinksMarkerCluster" class="btn btn-secondary toggle-marker-cluster" data-type="sink">toggle cluster</button> {% endcomment %}
                        <button class="btn btn-secondary toggle-tile-layer shown" data-type="hydraulic_conductivity">Ausblenden</button>                                                                                             
                    </div>
                    
                    <form method="GET" id="{{ suitability_hydraulic_conductivity.helper.form_id }}" class="{{ suitability_hydraulic_conductivity.helper.form_class }}">
                        {% csrf_token %}
                        {% crispy suitability_hydraulic_conductivity %}
                        
                    </form>
                </div>
            </div>       
        </div>

        
        

        

</div>

