$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

h1{
    color: red;
  }

html, body {
    height: 100%;
  }
  html, body, #map-container {
    height: 100%;
}
  
  body {
    background: #ffffff;
    display: flex;
    flex-flow: column;
  }
  
  #map {
    position: relative;
    height: inherit;
    width: inherit;

}
#map-container { 
    position: relative; 
    padding-top: 3vh;
    padding-bottom: 3vh;
     
    min-height: 80vh;   
}

.sidebar-map {
    height: inherit;

}
.sidebar {
    height: inherit;


} 
.sidebar-left {
    left: 0px;
    top: 0px;
    bottom: 0px;

}

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
    width: 100%;
}

.leaflet-container {  /* all maps */
    border: 2px solid rgba(232, 17, 224, 0.8);
    /* background-clip: padding-box; */
    box-sizing: border-box;
    border-radius: 4px;
    border: 25px;
    
}


.symbolsContainer {
    float: left;
    margin-left: 50px;
}

.legendCircle {
    border-radius:50%;
    border: 1px solid #537898;
    background: rgba(0,128,128,0.5);
    display: inline-block;
}

.legendValue {
    position: absolute;
    right: 12px;
    color:whitesmoke;
    font-size:10pt;
    text-align:center;
    font-weight: bold;
}
.border-box {
    box-sizing: content-box;;
}

.info {
    width:30vw;
    height:48vh;
    /* width:20vw; */
    /* height:300px; */
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:whitesmoke;
    /* max-width:100%;
    max-height:100%; */
}

.info h6 {
    margin: 0 0 5px;
    color: #777;
    text-align: center;
    /* margin-bottom: 15px; */
    color: whitesmoke;
    /* font-variant: small-caps; */
    font-weight: bold;
}



.map-coordinate {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid black;
    border-radius: 2%;
}
/* #baseLayers-collapse > div {
    padding: 0;
} */

#layerPane {
    padding-left: 0;
    padding-right: 0;
}

#baseLayerList {
    padding: 0;
}
#flush-collapseOne div {
    padding: 0;
}

.list-group .sidebar-list {
    padding: 0;
}

.accordion-button {
    padding:0;
}