{% extends "swn/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'shared/three_split.css' %}">

{% endblock css %}

{% block body_block %}
<div class="content main-content">
  <!-- Main panel container -->
  <div class="panel-container">
    <!-- Top panel (contains left and right panels) -->
    <div class="panel-top panel-inner-container">
      <div class="panel-left">
        {% block left_panel %}
        {% endblock left_panel %}      
      </div>

      <div class="vertical-splitter"></div>

      <div class="panel-right">
        
        {% block right_panel %}
        {% endblock right_panel %}
        <div id="cornerSplitter" class="corner-splitter"></div>
      </div>
    </div>
    
    <div id="horizontalSplitter" class=" horizontal-splitter"></div>

    <!-- Bottom panel -->
    <div class="panel-bottom" id="bottomPanel">
      <div class="mb-3 px-3">
        <div class="d-flex ms-auto mx-3">
          <button class="btn btn-outline-secondary btn-sm " id="toggleBottomFullscreen"><i class="bi bi-arrows-fullscreen justify-left"></i></button>
        </div>
      
        {% block bottom_panel %}
        {% endblock bottom_panel %}
      </div>
    </div>
  </div>
</div>
{% endblock body_block %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vendor/resizable/jquery-resizable.js' %}"></script>

  <script type="text/javascript" src="{% static 'shared/three_split.js' %}"></script>
{% endblock %}


