{% extends "swn/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'shared/three_split.css' %}">
<link rel="stylesheet" href="{% static 'swn/css/user_dashboard.css' %}" />
{% endblock css %}

{% block body_block %}
<div class="content ">
  <!-- Main panel container -->
  <div class="panel-container">
    <!-- Top panel (contains left and right panels) -->
    <div class="panel-top panel-inner-container">
        <div class="panel-left">
          {% block left_panel %}
          {% endblock left_panel %}
          
        </div>

        <div class="vertical-splitter"></div>

        <div class="panel-right">
          {% block right_panel %}
          {% endblock right_panel %}
          <div id="cornerSplitter" class="corner-splitter"></div>
        </div>
    </div>
    
    <div id="horizontalSplitter" class="horizontal-splitter"></div>

    <!-- Bottom panel -->
    <div class="panel-bottom py-2" id="bottomPanel">
      <button class="btn btn-outline-secondary btn-sm float-end" id="toggleBottomFullscreen"><i class="bi bi-arrows-fullscreen"></i></button>
      
          {% block bottom_panel %}
          {% endblock bottom_panel %}

  </div>
</div>
{% endblock body_block %}

{% block javascript %}
{{ block.super }}
{% comment %} <script src="{% static 'vendor/resizable/jquery-resizable.js' %}"></script> {% endcomment %}
  <script src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>
  <script type="text/javascript" src="{% static 'shared/three_split.js' %}"></script>
{% endblock %}


