<!-- These forms are injected from django and hidden until used-->

{% load crispy_forms_tags %}

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="modifyParametersModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content" id="modalModifyParamsContent">
      <!-- The content of the modal is injected from views+modify_parameters_modal.html-->
    </div>
  </div>
</div>

<div class="modal fade" id="soilModal" tabindex="-1" aria-labelledby="selectSoilProfileLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content" id="selectSoilProfileContent">
      <!-- The content of the modal is injected from views+modify_parameters_modal.html-->
       <h1>Soil Profile</h1>
    </div>
  </div>
</div>

<div class="modal fade" id="saveProjectDialog" tabindex="-1" aria-labelledby="saveProjectDialogLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content" id="saveProjectDialogContent">
      
      <div class="modal-header">
        <h5 class="modal-title" id="saveProjectDialogLabel">Do you want to save the project?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <form id="saveProjectForm" method="post">
        {% csrf_token %}
        <div class="modal-footer">
          <button id="btnSaveMonicaProjectModalDialog" type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-target="saveProjectDialog">Projekt speichern</button>
          <button id="btnDontSaveAndRun" type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-target="saveProjectDialog">Projekt nicht speichern</button>
        </div>
      </form>

    </div>
  </div>
</div>


<div id="hiddenForms" style="display: none;">


  <div class="card mb-3" id="sowingWorkstep-template">
    <div class="card-body">   
      <form class="sowing-form">
        <h5 class="card-title">Sowing Workstep</h5>
        {% crispy workstep_sowing_form %}
      </form>
    </div>
  </div>



  <div class="card mb-3" id="harvestWorkstep-template">
    <div class="card-body">
      <form class="harvest-form">
        <h5 class="card-title">Harvest Workstep</h5>
        {% crispy workstep_harvest_form %}
        <button type="button" class="btn btn-warning delete-workstep-button">Delete Workstep</button>
      </form>
    </div>
  </div>

  <div class="card mb-3" id="tillageWorkstep-template">
    <div class="card-body">
      <form class="tillage-form">
        <h5 class="card-title">Tillage Workstep</h5>
        {% crispy workstep_tillage_form %}
        <button type="button" class="btn btn-warning delete-workstep-button">Delete Workstep</button>
      </form>
    </div>
  </div>

  <div class="card mb-3" id="mineralFertilisationWorkstep-template">
    <div class="card-body">
      <form class="mineral-fertilisation-form">
        <h5 class="card-title">Mineral Fertilisation Workstep</h5>
        {% crispy workstep_mineral_fertilisation_form %}
        <button type="button" class="btn btn-warning delete-workstep-button">Delete Workstep</button>
      </form>
    </div>
  </div>

  <div class="card mb-3" id="organicFertilisationWorkstep-template">
    <div class="card-body">
      <form class="organic-fertilisation-form">
        <h5 class="card-title">Organic Fertilisation Workstep</h5>
        {% crispy workstep_organic_fertilisation_form %}
        <button type="button" class="btn btn-warning delete-workstep-button">Delete Workstep</button>
      </form>
    </div>
  </div>

  <div class="card mb-3" id="irrigationWorkstep-template">
    <div class="card-body">
      <form class="irrigation-form">
        <h5 class="card-title">Irrigation Workstep</h5>
        {% crispy workstep_irrigation_form %}
        <button type="button" class="btn btn-warning delete-workstep-button">Delete Workstep</button>
      </form>
    </div>
  </div>



  <div id="rotationTemplate">
    <!-- add workstep selector -->
    <div class="card mb-3 add-workstep advanced">
      <div class="card-body">
        <h5 class="card-title">Add Workstep</h5>
        
        {% crispy workstep_selector_form %}
        <button class="btn btn-primary add-workstep-button">Add Workstep</button>
      </div>
    </div>

  </div>

</div>
