<!-- This is the modal for all Monica Parameters as Forms -->
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

    <div class="modal-header">
      <h1 class="modal-title fs-5" id="modalLabel">{{ modal_title }}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form id="modalForm" method="POST" parameter-name="{{ parameter_name }}" parameter-id="{{ parameter_id }} {% if rotation_index %}rotation-index={{ rotation_index }}{% endif %}" data-action-url="{{ data_action_url }}">
        {% csrf_token %}
          {{ form | crispy }}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button 
            type="button" 
            class="btn btn-primary" 
            id="saveModalParameters"
            {% if is_default %}disabled{% endif %}
            >
            {{ modal_save_button }}
            </button>
            <button type="button" class="btn btn-primary" id="saveAsNewModalParameters">{{ modal_save_as_button }}</button>
            </button>
            <button type="button" class="btn btn-warning" id="deleteParameters"{% if is_default %}disabled{% endif %}>Delete Parameter Set</button>
          </div>
        
        </div>

      </form>   
    </div>
