<!-- This is the modal for all Monica Parameters as Forms -->
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

    <div class="modal-header">
      <h1 class="modal-title fs-5" id="modalLabel">{{ modal_title }}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form id="modalForm" method="POST" parameter-name="{{ parameter_name }}" parameter-id="{{ parameter_id }} {% if rotation_index %}rotation-index={{ rotation_index }}{% endif %}" data-action-url="{{ data_action_url }}">
        {% csrf_token %}
        {% if parameter_name == 'user-simulation-settings' %}
        {{ form.non_field_errors }}
        <div class="form-group">
          {{ form.name.label_tag }}
          {{ form.name }}
        </div>
        <div class="form-group">
          {{ form.use_secondary_yields.label_tag }}
          {{ form.use_secondary_yields }}
        </div>
        <div class="form-group">
          {{ form.water_deficit_response_on.label_tag }}
          {{ form.water_deficit_response_on }}
        </div>
        <div class="form-group">
          {{ form.emergence_moisture_control_on.label_tag }}
          {{ form.emergence_moisture_control_on }}
        </div>
        <div class="form-group">
          {{ form.use_n_min_mineral_fertilising_method.label_tag }}
          {{ form.use_n_min_mineral_fertilising_method }}
        </div>
        <div class="card mb-3" id="n_min_fertilisation_params" style="display: none;">
          <div class="card-body">
            <h5 class="card-title">Automatic Mineral fertilisation</h5>
            <div class="form-group">
              {{ form.n_min_user_params_min.label_tag }}
              {{ form.n_min_user_params_min }}
            </div>
            <div class="form-group">
              {{ form.n_min_user_params_max.label_tag }}
              {{ form.n_min_user_params_max }}
            </div>
            <div class="form-group">
              {{ form.n_min_user_params_delay_in_days.label_tag }}
              {{ form.n_min_user_params_delay_in_days }}
            </div>
            <div class="form-group">
              {{ form.n_min_fertiliser_partition.label_tag }}
              {{ form.n_min_fertiliser_partition }}
            </div>
            <div class="form-group">
              {{ form.julian_day_automatic_fertilising.label_tag }}
              {{ form.julian_day_automatic_fertilising }}
            </div>
          </div>
        </div>
        <div class="form-group">
          {{ form.use_automatic_irrigation.label_tag }}
          {{ form.use_automatic_irrigation }}
        </div>
        <div class="card mb-3" id="automatic_irrigation_params" style="display: none;">
          <div class="card-body">
            <h5 class="card-title">Automatic Irrigation</h5>
            <div class="form-group">
              {{ form.nitrogen_response_on.label_tag }}
              {{ form.nitrogen_response_on }}
            </div>
            <div class="form-group">
              {{ form.auto_irrigation_params_nitrate_concentration.label_tag }}
              {{ form.auto_irrigation_params_nitrate_concentration }}
            </div>
            <div class="form-group">
              {{ form.auto_irrigation_params_sulfate_concentration.label_tag }}
              {{ form.auto_irrigation_params_sulfate_concentration }}
            </div>
            <div class="form-group">
              {{ form.auto_irrigation_params_amount.label_tag }}
              {{ form.auto_irrigation_params_amount }}
            </div>
            <div class="form-group">
              {{ form.auto_irrigation_params_threshold.label_tag }}
              {{ form.auto_irrigation_params_threshold }}
            </div>
          </div>
        </div>

        {% else %}
          {{ form | crispy }}

        {% endif %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button 
            type="button" 
            class="btn btn-primary" 
            id="saveModalParameters"
            {% if is_default %}disabled{% endif %}
            >
            {{ modal_save_button }}
            </button>
            <button type="button" class="btn btn-primary" id="saveAsNewModalParameters">{{ modal_save_as_button }}</button>
            </button>
            <button type="button" class="btn btn-warning" id="deleteParameters"{% if is_default %}disabled{% endif %}>Delete Parameter Set</button>
          </div>
        
        </div>

      </form>   
    </div>
