{% load crispy_forms_tags %}

<!-- Soil -->
<div id="tabSite" class="tab-pane card mb-3">
    <div class="card-body">
      <h5 class="card-title">Site</h5>
      <div class="card mb-3">
        <div class="card-body">
          {% crispy site_form %}
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Bodenprofil</h5> 
          <div id="soil-profile-selection" class="mb-3">
            <div class="mb-3">
              {% crispy user_soil_profile_select_form %}
            </div>
            <button class="btn btn-outline-secondary mb-3 show-soil-profile-modal" type="button">
                Show
            </button>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Verwendetes Bodenprofil</h5>
          <p id="SoilProfileExplanation" class="card-text">Hier können Sie das Bodenprofil bearbeiten, das in der Simulation verwendet wird. Sie können entweder ein vorhandenes Profil aus der Bük200 oder Ihren eigenen Daten auswählen oder die Bodeneigenschaften manuell eingeben. Sie Daten müssen gespeichert werden, sons fällt das Modell auf die empfohlenen Bodendaten zurück.</p>
          <ul>
            <li id="instruction-layer-thickness">Der Boden muss bis in eine Tiefe von 2m definiert sein.</li>
            <li id=""></li>
            <li></li>
          </ul>
          <button type="button" class="btn btn-info mb-3 advanced-soil-parameters-toggle justify-right">
            Erweiterte Bodenmerkmale
          </button>
          <h5 id="soilProfileName">{{ profile_name }}</h5>
          <div id="soil-profile-formset-container">
            <form method="post">
              {% csrf_token %}
              {{ user_soil_profile_form.management_form }}
              <div class="table-responsive">
                <table class="table table-sm table-bordered align-middle soil-table"id="soil-layers-table">
                  <thead>
                    <tr>
                      <th>Horizon</th>
                      <th>Thickness (m)</th>
                      <th>Sand (%)</th>
                      <th>Clay (%)</th>
                      <th>pH</th>
                      <th class="advanced-soil-parameters d-none">Sceleton</th>
                      <th class="advanced-soil-parameters d-none">lambda S</th>
                      <th class="advanced-soil-parameters d-none">field capacity</th>
                      <th class="advanced-soil-parameters d-none">pore volume</th>
                      <th class="advanced-soil-parameters d-none">permanent wilting point</th>
                      <th class="advanced-soil-parameters d-none">Ammonium</th>
                      <th class="advanced-soil-parameters d-none">Nitrate</th>
                      <th>C:N</th>
                      <th>Raw Density</th>
                      <th class="advanced-soil-parameters d-none">Bulk Density</th>
                      <th>Corg</th>
                      <th class="advanced-soil-parameters d-none">Organic matter</th>
                      <th class="advanced-soil-parameters d-none">Soil Moisture</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="soil-layers-table-body">
                    {% for form in user_soil_profile_form %}
                      
                      
                      <tr class="soil-layer-row" data-horizon-no="{{ forloop.counter }}">
                        <td class="horizon-no">
                          <div class="horizon-count">{{ forloop.counter }}</div>
                          {{ form.horizon_no.as_hidden }}
                        </td>
                        <td class="">{{ form.thickness }}</td>
                        <td class="sand">{{ form.sand }}</td>
                        <td class="clay">{{ form.clay }}</td>
                        <td class="">{{ form.ph }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.sceleton }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.lambda_s }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.field_capacity }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.pore_volume }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.permanent_wilting_point }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.ammonium }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.nitrate }}</td>
                        <td class="">{{ form.c_n }}</td>
                        <td class="">{{ form.raw_density }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.bulk_density }}</td>
                        <td class="">{{ form.organic_carbon }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.organic_matter }}</td>
                        <td class="advanced-soil-parameters d-none">{{ form.soil_moisture }}</td>  
                        <td class="">
                          <button type="button" class="btn btn-danger btn-sm delete-horizon-button">
                            Delete
                          </button>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <button type="button" class="btn btn-outline-primary add-horizon-button">
              + Add horizon
              </button>
              <button type="button" class="btn btn-outline-primary reset-soil-form-button" data-profile-type="{{ profile_type }}" data-profile-id="{{ profile_id }}">
                Reset horizons
              </button>
              <button type="button" class="btn btn-outline-primary save-soil-profile-button" data-id="{{ user_profile_id }}">
                <span id="saveProfileIndicator"
                      class="badge rounded-pill bg-danger">
                  !
                </span>
                Save Profile
              </button>
            </form>
          </div>
        </div>
      </div>


      <div class="card mb-3 advanced">
        <div class="card-body">
          {% crispy user_soil_moisture_select_form %}
          {% crispy user_soil_organic_select_form %}
          {% crispy soil_temperature_module_selection_form %}
          {% crispy user_soil_transport_parameters_selection_form %}
        </div>
      </div>

    </div>
  </div>