{% extends "swn/base.html" %}

{% load static %}


{% load django_bootstrap5 %}

{% bootstrap_javascript %}

{{ form.media }}
{% block css %} 
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'swn/css/bootstrap-datepicker.standalone.css' %}"/>


   
{% endblock css %} 

{% block body_block %}

<script>
  

    var startDate = '{{ date_picker.start_date }}';
    var endDate = '{{ date_picker.end_date }}';
    var setStartDate = '{{ date_picker.set_start_date }}';
    var setEndDate = '{{ date_picker.set_end_date }}';
    

</script>
<div class="container">



<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Bodenfeuchteberechnung</h5>
      <div class="input-daterange input-group" id="monicaDatepicker" style="">
        <span class="input-group-addon  px-3"> Von </span>
        <input type="text" id="monicaStartDatePicker" class="input-sm form-control" name="start" />
        <span class="input-group-addon  px-3"> bis </span>
        <input type="text" id="monicaEndDatePicker" class="input-sm form-control" name="end" />
      </div>
    </div>
</div>

<h1>New Monica Form</h1>
{{ sowing_formset.media }}
{% comment %} {{ harvest_formset.media }} {% endcomment %}
{% comment %} {{ tillage_formset.media }} {% endcomment %}
<form method="post">
    {% csrf_token %}
    <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Saat Workstep</h5>
            {{ sowing_formset.management_form }}
            
            <div class="formset-row">
                {{ sowing_formset.as_p }}
            </div>
        </div>
    </div>            

    
    {{ harvest_formset.management_form }}
    {% for form in harvest_formset %}
    <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Harvest Workstep</h5>
            <div class="formset-row">
                {{ form.as_p }}
            </div>
        </div>
    </div>
    {% endfor %}
    <button type="button" class="add-formset" data-formset-prefix="harvest">Add Harvest Step</button>

 
    {{ tillage_formset.management_form }}
    {% for form in tillage_formset %}
        <div class="card mb-3">
            <div class="card-body">
            <h5 class="card-title">Tillage Workstep</h5>
                <div class="formset-row">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        
    {% endfor %}
    <button type="button" class="add-formset" data-formset-prefix="tillage">Add Tillage Step</button>

    {{ mineral_fertilization_formset.management_form }}
    {% for form in mineral_fertilization_formset %}
        <div class="card mb-3">
            <div class="card-body">
            <h5 class="card-title">Mineral Fertiliser Workstep</h5>
                <div class="formset-row">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        
    {% endfor %}

    {{ organic_fertilization_formset.management_form }}
    {% for form in organic_fertilization_formset %}
    <div class="card mb-3">
        <div class="card-body">
        <h5 class="card-title">organic_fertilization_formset</h5>
            <div class="formset-row">
                {{ form.as_p }}
            </div>
        </div>
    </div>
    {% endfor %}
    <button type="button" class="add-formset" data-formset-prefix="organic_fertilization">Add Organic Fertilization Step</button>

    <button type="submit">Save</button>
</form>

<h1>End Monica Form</h1>



</div>



{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.de.min.js' %}"></script>


<script type="text/javascript" src="{% static 'monica/monica_form.js' %}"></script>
{% endblock %}


