{% load crispy_forms_tags %}
  <div class="advanced"><!-- keep empty, is for .advanced --></div>
  <!-- General Parameters -->

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Zeitraum</h5>
          <div class="input-daterange input-group" id="monicaDatepicker" style="">
            <span class="input-group-addon  px-3"> Von </span>
            <input type="text" id="monicaStartDatePicker" class="input-sm form-control datepicker" name="startDate" />
            <span class="input-group-addon  px-3"> bis </span>
            <input type="text" id="monicaEndDatePicker" class="input-sm form-control datepicker" name="endDate" />
          </div>
        </div>
      </div>
    </div>

