{% load crispy_forms_tags %}

<div id="tabProject" class="tab-pane card mb-3">
  <div class="card-body">

    <div id="project-info" class="card mb-3">
      <div class="card-body">
                
        {% if project_select_form.fields.monica_project.choices %}
          <div>
              {% crispy project_select_form %}
              <button class="btn btn-primary monica-project load-project" type="button">
                  Load Project
              </button>
              <button class="btn btn-primary monica-project delete-project" type="button">
                Delete Project
            </button>

        {% endif %}
          <button id="createProjectButton" class="btn btn-primary monica-project new-project" type="button">
            + Create New Project
          </button>
        </div>
        
      </div>
    </div>


    <div class="card mb-3 advanced">
      <div class="card-body">
        <h5 class="card-title">User Parameters</h5>
        {% crispy user_environment_parameters_select_form %}
        {% crispy user_crop_parameters_select_form %}
        {% crispy user_simulation_settings_select_form %}
      </div>
    </div>
  </div>
</div>


<div id="monicaProjectModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <form id="projectModalForm">
        {% csrf_token %}
        
        {% crispy project_form %}
        </form>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="saveProjectButton" type="button" class="btn btn-primary">Save</button>
      </div>
    
    </div>
  </div>
</div>


<div id="deleteProjectModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">delete modal title</h5>
      </div>
      
      <div class="modal-body">
        <p>If you delete this project, all calculation and stored settings are also deleted.
          If you have used settings from this project in another project, that will remain unaffected.
        </p>
        <form id="projectModalForm">
          {% csrf_token %}
          <input type="hidden" name="project" id="delete_project_id">
        </form>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="btnConfirmDeleteProject" class="btn btn-warning">Confirm delete</button>
      </div>
    
    </div>
  </div>
</div>