{% extends 'swn/base.html' %} 

{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% bootstrap_javascript %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'swn/css/bootstrap-datepicker.standalone.css' %}"/>
    <link rel="stylesheet" href="{% static 'monica/monica_model.css' %}"/>
{% endblock css %} 

{% block body_block %}


  {% include 'monica/hidden_rotation_forms.html' %}


<div class="container py-5">  
    <h1>Monica</h1>
    
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="monica nav-link" aria-current="page" href="#tabProject">Project</a>
    </li>
    <li class="nav-item">
        <a class="monica nav-link active" aria-current="page" href="#tabGeneralParameters">General Parameters</a>
    </li>
    <li class="nav-item dropdown">
        <a class="monica nav-link" aria-current="page" href="#tabRotation" >Crop Rotation</a>
    </li>
    <li class="nav-item">
        <a class="monica nav-link" aria-current="page" href="#tabSoil">Soil</a>
    </li>
    <li class="nav-item">
        <a id="resultTab" class="monica nav-link disabled" aria-disabled="true" href="#tabResult">Result</a>
    </li>
    <li>
      <button id="toggle-advanced-mode" class="btn btn-primary" type="button">
        Advanced mode
      </button>
    </li>
  </ul>

  <!-- Tab panes -->
  <!-- Project-->
  <div id="tabProject" class="tab-content card mb-3">
    <div class="card-body">

      <div id="project-info" class="card mb-3">
        <div class="card-body">
      
          <h5 class="card-title">Project</h5>
          <input type="text" id="projectName" placeholder="Project Name"/>
          <input type="text" id="projectDescription" placeholder="Project Description"/>
          
        </div>
      </div>


      <div class="card mb-3 advanced">
        <div class="card-body">
          <h5 class="card-title">User Environment Parameters</h5>
          {{ user_environment_parameters_select_form | crispy }}
          <button class="btn btn-primary modify-parameters user-environment-parameters " type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Modify User Environment Parameters
          </button>
        </div>
      </div>


      <div class="card mb-3 advanced">
        <div class="card-body">
          <h5 class="card-title">User Crop Parameters</h5>
          {{ user_crop_parameters_select_form | crispy }}
          <button class="btn btn-primary modify-parameters user-crop-parameters " type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Modify User Crop Parameters
          </button>
        </div>
      </div>

      <div class="card mb-3 advanced">
        <div class="card-body">
          <h5 class="card-title">User Simulation Settings</h5>
          {{ user_simulation_settings_select_form | crispy }}
          <button class="btn btn-primary modify-parameters user-simulation-settings " type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Modify User Simulation Settings
          </button>
        </div>
      </div>


      

    </div>
  </div>


  <!-- General Parameters -->
  <div id="tabGeneralParameters" class="tab-content card mb-3 active">
    <div class="card-body">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Select Coordinates</h5>
          <p>Enter a valid coordinate for Germany, roughly between 54.92 and 47.27 latitude and 5.87 and 15.04 longitude</p>
          <form class="coordinateForm">
          {{ coordinate_form | crispy}}
          </form>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Select Dates</h5>
          <div class="input-daterange input-group" id="monicaDatepicker" style="">
            <span class="input-group-addon  px-3"> Von </span>
            <input type="text" id="monicaStartDatePicker" class="input-sm form-control datepicker" name="start" />
            <span class="input-group-addon  px-3"> bis </span>
            <input type="text" id="monicaEndDatePicker" class="input-sm form-control datepicker" name="end" />
          </div>
        </div>
      </div>
    </div> 
  </div>
   
 <!-- Crop Rotation -->
  <div id="tabRotation" class="tab-content card mb-3">
    <div class="card-body">
      <!--div to attach event bubbling-->
      <div id="cropRotation"> 
        <!--Rotation steps are injected here-->
      </div>
      <button id="addRotationButton" class="btn btn-primary">Add Rotation</button>
      <button id="removeRotationButton" class="btn btn-primary">Remove Rotation</button>
    </div>
  </div> 

  <!-- Soil -->
  <div id="tabSoil" class="tab-content card mb-3">
    <div class="card-body">
      <h5 class="card-title">Soil</h5>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Soil Profile</h5>
          <button class="btn btn-primary recommended-soil-profile" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Show Soil Profile
          </button>
        </div>
      </div>

      <div class="card mb-3 advanced">
        <div class="card-body">
          <h5 class="card-title">Soil Moisture Parameters</h5>
          {{ user_soil_moisture_select_form | crispy }}
          <button class="btn btn-primary modify-parameters soil-moisture-parameters " type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Modify Soil Moisture Parameters
          </button>
        </div>
      </div>

      <div class="card mb-3 advanced">
        <div class="card-body">
          <h5 class="card-title">Soil Organic Parameters</h5>
          {{ user_soil_organic_select_form | crispy }}
          <button class="btn btn-primary modify-parameters soil-organic-parameters" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Modify Soil Organic Parameters
          </button>
        </div>
      </div>

      <div class="card mb-3 advanced">
        <div class="card-body">
          <h5 class="card-title">Soil Temperature Parameters</h5>
          {{ soil_temperature_module_selection_form | crispy }}
          <button class="btn btn-primary modify-parameters soil-temperature-parameters" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Modify Soil Temperature Parameters
          </button>
        </div>
      </div>

      <div class="card mb-3 advanced">
        <div class="card-body">
          <h5 class="card-title">Soil Transport Parameters</h5>
          {{ user_soil_transport_parameters_selection_form | crispy }}
          <button class="btn btn-primary modify-parameters soil-transport-parameters" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
            Modify Soil Transport Parameters
          </button>
        </div>
      </div>
    </div>
  </div>

    <!-- Project-->
    <div id="tabResult" class="tab-content card mb-3">
      <div class="card-body">
        <div class="card mb-3">
          <div class="card-body">
        
            <h5 class="card-title">Result</h5>
            <div class="card mb-3 d-none" id="chartCard">
              <div class="card-body">
                <h5 class="card-title" id="chart-title">Monica Berechnung</h5>
                <div id="chartDiv"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <button id="previousButton" class="btn btn-primary mt-3">Previous</button>
  <button id="nextButton" class="btn btn-primary mt-3">Next</button>
  <button id="runSimulationButton" class="btn btn-primary mt-3">Run Simulation</button>
  

</div>





   
    {% comment %} <a href="{% url 'monica:monica_hohenfinow' %}" class="btn btn-primary">Run Monica Hohenfinow hardcoded</a> {% endcomment %}
{% endblock %}

{% block javascript %}
  <script>
    const saveSimulationSettingsUrl = "{% url 'monica:save_simulation_settings' %}";
    const runSimulationUrl = "{% url 'monica:run_simulation' %}";
  </script>

  {% comment %} <script type="text/javascript" src="{% static 'monica/monica_crop.js' %}"></script> {% endcomment %}
    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
    <script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.de.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
    <script type="text/javascript" src="{% static 'monica/monica_model.js' %}" type="module"></script>
    {% comment %} <script type="text/javascript" src="{% static 'monica/modify_forms_modal.js' %}" type="module"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'monica/species_modal.js' %}" type="module"></script> {% endcomment %}
{% endblock %}