{% load crispy_forms_tags %}

<!-- Soil -->
<div id="tabSoil" class="tab-pane card mb-3">
    <div class="card-body">
      <h5 class="card-title">Boden</h5>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Bodenprofile</h5>
          <button class="btn btn-primary recommended-soil-profile" type="button">
            Empfohlenes Bodenprofil anzeigen
          </button>
          <button class="btn btn-primary manually-select-soil-parameters" type="button">
            Bodenprofil aus Bük200 auswählen
          </button>
        </div>
      </div>

      <div class="card mb-3 advanced">
        <div class="card-body">
          {% crispy user_soil_moisture_select_form %}
          {% crispy user_soil_organic_select_form %}
          {% crispy soil_temperature_module_selection_form %}
          {% crispy user_soil_transport_parameters_selection_form %}
        </div>
      </div>

    </div>
  </div>