<!-- This is the modal for all Monica Parameters as Forms -->
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

<div id="outputSettingsModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Output Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div id="outputSettingsCheckboxDiv" class="modal-body">
            
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="btnOutputSettingsApply" type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
        </div>
      </div>
    </div>
  </div>
