<!DOCTYPE html>
<!-- Login -->
{% extends "swn/base.html" %}
{% load crispy_forms_tags %}

{% block body_block %}

        <div class="container mt-5">
            <h2>LOGIN</h2>
            Um die Toolbox, Monica oder das Dürrefrühwarnsystem zu nutzen, müssen Sie sich anmelden. Dies ist lediglich aus technischen Gründen der Fall. 
             <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn border my-2" name="" value="Anmelden">
                    <p>Sie haben noch kein Account? Registrieren Sie sich <a href={% url 'swn:sign_up' %}>hier</a></p>
            
            </form>
        </div>
{% endblock %}
