<!DOCTYPE html>
<!-- Login -->
{% extends "swn/base.html" %}
{% load crispy_forms_tags %}

{% block body_block %}

        <div class="container">
            <h2>Django Contrib LOGIN</h2>
            <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn border" name="" value="Anmelden">
                    <p>Sie haben noch kein Account? Registrieren Sie sich <a href={% url 'swn:sign_up' %}>hier</a></p>
            </form>
        </div>
{% endblock %}
