<!DOCTYPE html>
<!-- Login -->
{% extends "swn/base.html" %}
{% load crispy_forms_tags %}

{% block body_block %}

        <div class="container mt-3">
            <h2>Anmelden</h2>
            <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn border mb-3" name="" value="Registrieren">
                    <p>Sie haben schon ein Account? Loggen Sie sich <a href={% url 'swn:login' %}>hier</a> ein.</p>
            </form>
        </div>
{% endblock %}
