{% comment %} <li class="list-group-item">  
    <div class="accordion-item">
        <div class="accordion-header" id="accordionHeader-8">
            <h6>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="fieldSwitch-8" checked="">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseField-8" aria-expanded="true" aria-controls="collapseField-0">
                        Acker Bezeichnung
                    </button>
                </div>
            </h6>
        </div>
        <div id="collapseField-8" class="accordion-collapse collapse show" aria-labelledby="accordionHeader-8">
            <form id="deleteAndCalcForm-8">
                <span>
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#projectModal">
                        <i class="fa-regular fa-pen-to-square field-edit"></i>
                    </button>
                </span>
                <span>
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#fieldInfoModal">
                        <i class="fa-solid fa-ellipsis-vertical field-menu"></i>
                    </button>
                </span>
                <span>
                    <button type="button" class="btn btn-outline-secondary btn-sm">
                        <i class="fa-regular fa-trash-can delete"></i>
                    </button>
                </span>
            </form>
        </div>
    </div> 
</li> {% endcomment %}