
{% extends "swn/base.html" %}
{% load i18n %}

{% block body_block %}
<div class="container">
    <p>
        <h3><u>{% trans "Acknowledgements" %}</u></h3>
        <p>Current language: {{ LANGUAGE_CODE }}</p>
        

			<div class="container mt-3" >
            <p>{% trans "This project took advantage of netCDF software developed by UCAR/Unidata" %} (<a title="Unidata" target="_blank" href="http://doi.org/10.5065/D6H70CW6">http://doi.org/10.5065/D6H70CW6</a>).</p>
            <p>{% trans "This project took advantage of the" %} <a title="Python" target="_blank" href="https://www.python.org/">Python</a> {% trans "programming language." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="Django" target="_blank" href="https://www.djangoproject.com/">Django</a> {% trans "web framework." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="Bootstrap" target="_blank" href="https://getbootstrap.com/">Bootstrap</a> {% trans "web framework." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="PostgreSQL" target="_blank" href="https://www.postgresql.org/">PostgreSQL</a> {% trans "database." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="PostGIS" target="_blank" href="https://postgis.net/">PostGIS</a> {% trans "database extension." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="GDAL" target="_blank" href="https://gdal.org/">GDAL</a> {% trans "software." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="SASS" target="_blank" href="https://sass-lang.com/">SASS</a> {% trans "CSS preprocessor." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="Docker" target="_blank" href="https://www.docker.com/">Docker</a> {% trans "software." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="jQuery" target="_blank" href="https://jquery.com/">jQuery</a> {% trans "JavaScript library." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="Leaflet" target="_blank" href="https://leafletjs.com/">Leaflet</a> {% trans "JavaScript library." %}</p>
            <p>{% trans "This project took advantage of the" %} <a title="Geoserver" target="_blank" href="https://geoserver.org/">Geoserver</a> {% trans "software." %}</p>

        </div>
            
    </p>
</div>

{% endblock%}