
{% extends "swn/base.html" %}

{% block body_block %}
<div class="container">
    <p>
        <h3><u>Acknowledgements</u></h3>
        

			<div class="container mt-3" >
            <p>​This project took advantage of netCDF software developed by UCAR/Unidata (<a title="Unidata" target="_blank" href="http://doi.org/10.5065/D6H70CW6">http://doi.org/10.5065/D6H70CW6</a>).</p>
            <p>This project took advantage of the <a title="Python" target="_blank" href="https://www.python.org/">Python</a> programming language.</p>
            <p>This project took advantage of the <a title="Django" target="_blank" href="https://www.djangoproject.com/">Django</a> web framework.</p>
            <p>This project took advantage of the <a title="Bootstrap" target="_blank" href="https://getbootstrap.com/">Bootstrap</a> web framework.</p>
            <p>This project took advantage of the <a title="PostgreSQL" target="_blank" href="https://www.postgresql.org/">PostgreSQL</a> database.</p>
            <p>This project took advantage of the <a title="PostGIS" target="_blank" href="https://postgis.net/">PostGIS</a> database extension.</p>
            <p>This project took advantage of the <a title="GDAL" target="_blank" href="https://gdal.org/">GDAL</a> software.</p>
            <p>This project took advantage of the <a title="SASS" target="_blank" href="https://sass-lang.com/">SASS</a> CSS preprocessor.</p>
            <p>This project took advantage of the <a title="Docker" target="_blank" href="https://www.docker.com/">Docker</a> software.</p>
            <p>This project took advantage of the <a title="jQuery" target="_blank" href="https://jquery.com/">jQuery</a> JavaScript library.</p>
            <p>This project took advantage of the <a title="Leaflet" target="_blank" href="https://leafletjs.com/">Leaflet</a> JavaScript library.</p>
            <p>This project took advantage of the <a title="Geoserver" target="_blank" href="https://geoserver.org/">Geoserver</a> software.</p>

        </div>
            
    </p>
</div>

{% endblock%}