{% extends "swn/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block css %} 
  
    <link rel="stylesheet" href="{% static 'swn/css/bootstrap-datepicker.standalone.css' %}"/>
    {% comment %} <link rel="stylesheet" href="{% static 'swn/css/leaflet.contextmenu.css' %}"/> {% endcomment %}


{% endblock css %} 

{% block body_block %}

<script>
  
    var userFieldId = {{ id }};
    var polygonIds = {{ polygon_ids }};
    var polygonIdsStr = polygonIds.join(','); 
    var systemUnitJson = JSON.parse('{{ system_unit_json|escapejs }}');
    var landusageChoices = JSON.parse('{{ landusage_choices|escapejs }}');
    var startDate = '{{ date_picker.start_date }}';
    var endDate = '{{ date_picker.end_date }}';
    

</script>

<div class="container-fluid p-5">
    <div class="row">
      <h1>ID:{{ id }} Feld: {{ text }} {{ date_picker.end_date }}</h1>
    </div>
    <div class="row">
      <div class="card mb-3">
        <div id="soilDiv" class="card-body">
          <h5 class="card-title">Soil Data</h5>  
          {% comment %} <form method="post" id="soilProfileForm">
            {% csrf_token %} {% endcomment %}
            <span class="input-group-text mb-2 d-flex align-items-start">
              <div id="div_id_land_usage" class="m-3">
                <label for="id_land_usage" class="form-label">
                  Flächennutzungsart
                <label>
                <select name="land_usage" class="form-select" id="id_land_usage"></select>
              </div>
              <div id="div_id_area_percentage" class="m-3">
                <label for="id_area_percentage" class="form-label">
                  Anteil des Bodenprofils in %
                <label>
                <select name="area_percentage" class="form-select" id="id_area_percentage"></select> 
              </div>
              <div id="div_id_system_unit" class="m-3">
                <label for="id_system_unit" class="form-label">
                  Systemeinheit
                <label>
                <select name="system_unit" class="form-select" id="id_system_unit"></select> 
              </div>
            </span>
            <span class="input-group-text mb-2 d-flex align-items-start">
              <div id="div_id_soil_profile" class="m-3">
                <label for="id_soil_profile" class="form-label">
                  Bodenprofil
                <label>
                <select name="soil_profile" class="form-select" id="id_soil_profile"></select> 
              </div>
              <div id="div_id_horizons" class="m-3 p-2 border rounded " >

              </div>
            </span>
            <div>
              <table id="tableHorizons" class="table table-bordered border-4 rounded table-hover table-striped ">
              </table>
            </div>
          {% comment %} </form>  {% endcomment %}
        </div>
      </div>
      
      <!-- Species/ Cultivar -->
      <div class="card mb-3">
        <div class="card-body">
          {{ crop_cultivar_form|crispy }}
        </div>
      </div>
        <!-- Dates  -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Bodenfeuchteberechnung</h5>
          <div class="input-daterange input-group" id="monicaDatepicker" style="display: none">
            <span class="input-group-addon  px-3"> Von </span>
            <input type="text" id="monicaStartDatePicker" class="input-sm form-control" name="start" />
            <span class="input-group-addon  px-3"> bis </span>
            <input type="text" id="monicaEndDatePicker" class="input-sm form-control" name="end" />
          </div>
        {% comment %} <input type="date" class="mx-1" id="startDatePicker" name="calculationStart" value="2024-04-24" format:'dd/mm/yy' pattern="\d{2}-\d{2}-\d{4}"></input>
        <label for="endDate">bis</label>
        <input type="date" class="mx-1" id="endDatePicker" name="calculationEnd" value={{ date_picker.end_date }} pattern="\d{4}-\d{2}-\d{2}"></input> {% endcomment %}
        </div>
      </div>
      <div class="card mb-3 d-none" id="chartCard">
        <div class="card-body">
          <h5 class="card-title" id="chart-title">Monica Berechnung</h5>
          <div id="chartDiv"></div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="card mb-3">
        <div class="card-body">
            
          <a class="btn btn-primary" href="{% url 'swn:user_dashboard' %}">Zurück</a>
          {% comment %} <button type="submit" id="btnMonicaCalculate" class="btn btn-primary mb-2">Berechnen</button> {% endcomment %}
          <button type="submit" id="btnMonicaCalculateDB" class="btn btn-primary mb-2">
            Berechnen aus DB
          </button>
        </div>
      </div>
    </div>
  </div>  
</div> 
{% endblock %}

{% block javascript %}
<script src="{% static 'swn/js/field_projects_edit.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'monica/monica_crop.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
<script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.de.min.js' %}"></script>
{% endblock %}
```