{% load crispy_forms_tags %}

<div class="modal fade " id="userFieldNameModal" tabindex="-1" aria-labelledby="userFieldNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="userFieldNameModalLabel">Ackername</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="alert-box"></div>
                Bitte geben Sie eine Bezeichnung für das Feld ein:
                <form id="userFieldNameForm">
                    {% csrf_token %}
                    {{ name_form|crispy }}
                    
                    <div class="modal-footer">  
                        <button type="button" id="btnSaveUserDismiss" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" id="btnSaveUserField2" class="btn btn-light">Speichern</button>
                        <button type="submit" id="btnSaveAndCalc" class="btn btn-light">Speichern und neue Berechnung</button>
                    </div>
                </form>
            </div>             
        </div>
    </div>
</div>