<div class="modal fade " id="userFieldNameModal" tabindex="-1" aria-labelledby="userFieldNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="userFieldNameModalLabel">Ackername</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bitte geben Sie eine Bezeichnung für das Feld ein:
                <form id="userFieldNameBtnForm">
                    <input type="text">
                </form>
                
                <div id="alert-box"></div>
                
                    <div class="modal-footer">
                        <form id="userFieldNameBtnForm">
                            {% csrf_token %}
                            <button type="button" id="btnSaveUserFieldClose" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
                            <button type="submit" id="btnSaveUserField" class="btn btn-success">Speichern</button>
                        </form>
                    </div>
                
            </div>             
        </div>
    </div>
</div>