{% load static %}


<footer class="footer mt-auto py-3 bg-light border">
    <div class="container">
      <div class="row">
        
        <small class="col-md-6 text-muted">
                <p>
                  Leibniz-Zentrum für Agrarlandschaftsforschung (ZALF) e.V.<br />
                  Eberswalderstr. 84<br/>
                  15748 Müncheberg</br>
                </p>
              </small>
        <div class="col-md-6 ">
          <div class="d-flex flex-row mt-3 justify-content-end">
            <div class="mx-3"><img src="{% static 'img/zalf.jpeg' %}" height="40px"/></div>
            <div class="mx-3"><img src="{% static 'img/SpreeWasser-Logo.png' %}" height="40px"/></div>
            <div class="mx-3"><img src="{% static 'img/wax-300x126.png' %}" height="40px"/></div>
          </div>
        </div>
      
      <small class="text-center text-muted footer-copyright">
        &copy; ZALF, 2022 - {% now "Y" %}.
      </small>
    </div>
  </footer>