{% extends "swn/base.html" %}
{% load static %}

{% block body_block %}

<section
  class="homepage-hero"
  style="background-image: url('{% static "swn/images/titelbild_altdoebern_mit_logo_2.jpg" %}');"
>

  <div class="hero-overlay">

    {% comment %} <div class="container"> {% endcomment %}

      <div class="hero-content text-center text-white">
        <h1 class="swn-logo mb-4">SpreeWasser:N</h1>

        <p class="lead mb-5">
          Innovative Werkzeuge für Dürremanagement und Wasser-Governance.
        </p>

        

        <!-- Cards -->
        <div class="row g-4 justify-content-center">

          <div class="col-lg-5">
            <a href="{% url 'toolbox:toolbox_dashboard' %}" class="card homepage-card h-100 shadow-lg border-0 text-decoration-none">
              <div class="card-body p-4">
                <h3 class="card-title mb-3">
                  Grundwasser Toolbox
                </h3>

                <p>
                  Registrierung und Werkzeuge für Analyse und Monitoring.
                </p>
              </div>
            </a>
          </div>

          <div class="col-lg-5">
            <a href="{% url 'swn:swn_dashboard' %}" class="card homepage-card h-100 shadow-lg border-0 text-decoration-none">
              <div class="card-body p-4">
                <h3 class="card-title mb-3">
                  Dürrefrühwarnsystem
                </h3>

                <p>
                  Saisonale Vorhersagen und quantitative Analyse von Dürreereignissen.
                </p>
              </div>
            </a>
          </div>

        </div>

        <div class="row g-4 justify-content-center py-4">

          <div class="col-lg-5">
            <a href="{% url 'monica:monica_model' %}" class="card homepage-card h-100 shadow-lg border-0 text-decoration-none">

                <div class="card-body p-4">

                    <h3 class="card-title mb-3">
                        Monica
                    </h3>

                    <p>
                        Tool zur Modellierung von Bodenfeuchte, Pflanzenwachstum und Ernteertrag und vielen weiteren Parametern.
                    </p>

                </div>

            </a>
          </div>

          <div class="col-lg-5">
            <a href="{% url 'klim4cast:timelapse-page' %}" class="card homepage-card h-100 shadow-lg border-0 text-decoration-none">

                <div class="card-body p-4">

                    <h3 class="card-title mb-3">
                        Clim4Cast
                    </h3>

                    <p>
                        Clim4Cast in Kürze.
                    </p>

                </div>

            </a>
          </div>

        </div>

      </div>
    {% comment %} </div> {% endcomment %}
  </div>

  <!-- Footer -->
  <footer class="homepage-footer">
    <div class="container-fluid">

      <div class="d-flex justify-content-center align-items-center flex-wrap gap-4">

        <a href="https://www.zalf.de" target="_blank">
          <img src="{% static 'img/zalf.jpeg' %}" height="30">
        </a>

        <a href="https://www.tu.berlin/" target="_blank">
          <img src="{% static 'img/tub.jpeg' %}" height="30">
        </a>

        <a href="https://www.sieker.de/" target="_blank">
          <img src="{% static 'img/sieker_logo.png' %}" height="30">
        </a>

        <a href="https://www.fona.de/de/" target="_blank">
          <img src="{% static 'img/BMBF_FONA_Logo_de.svg' %}" height="30">
        </a>

        <a href="https://www.bmbf-wax.de/" target="_blank">
          <img src="{% static 'img/WaX_Logo_RGB.png' %}" height="30">
        </a>

        <a href="https://www.bmftr.bund.de/" target="_blank">
          <img src="{% static 'img/BMFTR.svg' %}" height="50">
        </a>

      </div>

    </div>
  </footer>

</section>

{% endblock %}