{% extends "swn/base.html" %}

{% load static %}

{% block body_block %}
<div class="container">
    <div class="">
        
        <h1 class="swn-logo py-5">SpreeWasser:N</h1>
        <!-- Carousel -->
        <div class="container-md pb-4">
            <div class="background-image-section" style="background-image: url('{% static 'swn/images/titelbild_altdoebern_mit_logo_2.jpg' %}');">
                <div class="d-flex flex-column align-items-center justify-content-center text-white py-5" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h2 class="mb-4">Willkommen bei SpreeWasser:N</h2>
                    <p class="text-center mb-4">SpreeWasser:N ist eine innovative Toolbox, die Landwirten, Forschern und Entscheidungsträgern dabei hilft, die Auswirkungen von Dürren auf die landwirtschaftliche Produktion zu verstehen und zu bewältigen. Unsere Toolbox bietet eine Vielzahl von Funktionen, darunter ein Dürre-Frühwarnsystem, das auf einer quantitativen Analyse von Wetterextremen und saisonalen Vorhersagen basiert, um eine effektive Vorhersage von Dürreereignissen zu ermöglichen. Mit SpreeWasser:N können Sie sich besser auf Dürreereignisse vorbereiten und somit Schäden an Ihren Kulturen minimieren.</p>
                    <a href="{% url 'swn:drought_monitor' %}" class="btn btn-primary btn-lg">Zum Dürremonitor</a>
                     <!-- Keypoints as accordion -->
                    
                    <div class="accordion pt-4" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h2>Grundwasser Toolbox</h2>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-justify">Um die Toolbox nutzen zu können, müssen Sie sich <a href="{% url 'swn:sign_up' %}">registrieren</a> und <a href="{% url 'swn:login' %}">anmelden</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h2>Dürrefrühwarnsystem</h2>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-justify">Um die Toolbox nutzen zu können, müssen Sie sich <a href="{% url 'swn:sign_up' %}">registrieren</a> und <a href="{% url 'swn:login' %}">anmelden</a>.</p>
                                    <p class="text-justify">In Zeiten von Klimawandel und steigenden Temperaturen ist es wichtiger denn je, die Auswirkungen von Dürren auf die landwirtschaftliche Produktion zu verstehen. Eine Vorhersage und frühzeitige Erkennung von Dürreereignissen kann Landwirten helfen, sich besser auf solche Phänomene vorzubereiten und somit Schäden an ihren Kulturen zu minimieren. Das Projekt soll ein Dürre-Frühwarnsystem entwickeln, das auf einer quantitativen Analyse von Wetterextremen und saisonalen Vorhersagen basiert, um eine effektive Vorhersage von Dürreereignissen zu ermöglichen.</p>
                                    <p class="text-justify">Die Ableitung von Grenzwerten für das Eintreten einer Dürre, insbesondere in Bezug auf die landwirtschaftlichen Kulturen, ist eine komplexe Aufgabe, die ein tiefes Verständnis von agro-meteorologischen Zusammenhängen erfordert. Auch die Quantifizierung des Einflusses saisonaler Extreme und kleinskaliger klimatischer Wetterstrukturen auf die Wahrscheinlichkeit und Intensität von Trockenperioden und Dürren ist eine Herausforderung. Zudem müssen die Vorhersagehorizonte und die Eignung von saisonalen Witterungsvorhersagen für die Vorhersage von Dürren genau bewertet werden, um ein zuverlässiges Frühwarnsystem zu entwickeln.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

            
     

       
      
    
        
    


     

{% endblock%}