
{% extends "swn/base.html" %}

{% block body_block %}
<div class="container">
    <p>
        <h3><u>Impressum - needs to be adjusted!!!!</u></h3>
        

			<div class="container mt-3" >
            <h6>​​Registered office and address</h6>
                <p>Leibniz-Zentrum für Agrarlandschaftsforschung (ZALF) e. V. 
                <br>
                Eberswalder Straße 84 
                <br>
                D-15374 Müncheberg 
                <br>
                Germany 
                <br>
                Tel.: ++49 (0)33432 82 0 
                <br>
                E-Mail: 
                ???
                <br>Internet: 
                <a title="ZALF Homepage" target="_blank" href="https://www.zalf.de">https://www.zalf.de</a>
            </p>
            <div class="mt-3">
                <h6>Scientific Director</h6>
                <p>
                   <a title="Contact Prof. Dr. Frank Ewert" href="/en/ueber_uns/mitarbeiter/Pages/ewert_f.aspx" target="_blank">Prof. Dr. Frank Ewert</a>
                </p>
            </div>
            <div class="mt-3">
                <h6>Administrative Director</h6>
                <p>Martin Jank</p>
            </div>
            <h6>Press,&nbsp;media and public relations</h6>
            <p>Contact Person: 
                <a title="Press Office" href="/en/aktuelles/presse/Pages/default.aspx">Hendrik Schneider</a>
            </p>
            <h6>Court at which the Institute is registered</h6>
            <p>Amtsgericht Frankfurt/Oder</p>
            <h6>Register Number</h6>
            <p>VR 3535 FF</p>
            <h6>VAT-ID</h6>
            <p>DE811417184</p>
            <h6>Currently responsible for the content of this website according to section 55 RStV:</h6>
            <p>Administrative Director</p>
            <p>&nbsp;</p>
            <h5>I. Legal Notice</h5>
            <h6>Copyrights</h6>
            <p>© Copyright Leibniz Centre for Agricultural Landscape Research (ZALF) e.V., Müncheberg (Germany). All rights reserved. Text, images, graphics, video files and their arrangement on the ZALF website are protected by copyright and other intellectual property laws.</p>
            <p>The content of this site may not be copied, distributed, modified or reposted. Please note that some of the images on the web pages are subject to copyright of third parties.</p>
            <h6>Liability</h6>
            <p>This website has been compiled with great care. Nevertheless no guarantee for the correctness and accuracy of the information contained can be assumed. Any liability for damages arising directly or indirectly from using this website is excluded, unless they are based on intent or gross negligence.</p><p>&nbsp;</p><h5 id="Datenschutz">II. Privacy Policy</h5><p>We appreciate your interest in our website. Protecting your personal information is important to us. </p><p>Further information on data protection can be found in our 
                <a title="Go to privacy policy" href="/en/ueber_uns/Pages/Datenschutzerklaerung.aspx">privacy policy</a>.
            </p>
            <h6>Security</h6>
            <p>We are committed to protecting your information and providing you with improved content on our Website, this includes measures such as the usage of antivirus software or a firewall.</p><h6>Redirection Links</h6><p>This privacy notice does not cover the links within this site linking to other websites. We encourage you to read the privacy statements on the other websites you visit.</p><h6>Photo credits</h6><p>Go to page 
                <a title="Go to page Photo Credits" href="/de/ueber_uns/Seiten/photo-credits.aspx">"Photo Credits"</a></p>
                <h6>Webmaster</h6>
                <p>In technical affairs do not hesitate to contact the webmaster:
                    <br>
                    <img alt="webmaster" src="/de/ueber_uns/PublishingImages/em_webmaster.png">
                </p>
                <h6>Fonts</h6>
                <p>We use the Open Sans font (Open Sans SIL Open Font License, 1.1), which is hosted on our server.​<br></p><p>OpenSans[wdth,wght].ttf: Copyright 2020 The Open Sans Project Authors (https://github.com/googlefonts/opensans)</p><p>OpenSans-Italic[wdth,wght].ttf: Copyright 2020 The Open Sans Project Authors (https://github.com/googlefonts/opensans)</p><h6>Layout</h6><p>Concept: 
                <a title="Zur von Novamondo" href="http://www.novamondo.de/">Novamondo</a>
            </p>
            <p>Realisation: 
                <a title="Zur Webseite der NTeam GmBH" href="http://www.nteam.de/de">NTeam GmbH</a>
            </p>
            <h6>Translation</h6>
            <p>profi Schnelldienst Fachübersetzungen, Friedrichstraße 153a, 10117 Berlin, www.profischnell.com</p>
            <p>Teresa Gehrs, Osnabrück</p>
        </div>
        <div></div>
                     
    </p>
</div>

{% endblock%}