
{% extends "swn/base.html" %}

{% block body_block %}
<div class="container">
    <p>
        <h3><u>Impressum</u></h3>
        

			<div class="container mt-3" >
            <h6>​​Registered office and address</h6>
                <p>Leibniz-Zentrum für Agrarlandschaftsforschung (ZALF) e. V. 
                <br>
                Eberswalder Straße 84 
                <br>
                D-15374 Müncheberg 
                <br>
                Germany 
                <br>
                Tel.: ++49 (0)33432 82 0 
                <br>
                E-Mail: 
                ???
                <br>Internet: 
                <a title="ZALF Homepage" target="_blank" href="https://www.zalf.de">https://www.zalf.de</a>
            </p>
            <div class="mt-3">
                <h6>Scientific Director</h6>
                <p>
                   <a title="Contact Prof. Dr. Frank Ewert" href="/en/ueber_uns/mitarbeiter/Pages/ewert_f.aspx" target="_blank">Prof. Dr. Frank Ewert</a>
                </p>
            </div>
            <div class="mt-3">
                <h6>Administrative Director</h6>
                <p>Martin Jank</p>
            </div>
            <h6>Press,&nbsp;media and public relations</h6>
            <p>Contact Person: 
                <a title="Press Office" href="/en/aktuelles/presse/Pages/default.aspx">Hendrik Schneider</a>
            </p>
            <h6>Court at which the Institute is registered</h6>
            <p>Amtsgericht Frankfurt/Oder</p>
            <h6>Register Number</h6>
            <p>VR 3535 FF</p>
            <h6>VAT-ID</h6>
            <p>DE811417184</p>
            <h6>Currently responsible for the content of this website according to section 55 RStV:</h6>
            <p>Administrative Director</p>

        </div>
            
    </p>
</div>

{% endblock%}