{% extends 'swn/base.html' %} 
{% load static %} 
{% load leaflet_tags %} 
{% load geojson_tags %}

{% block scripts %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Leaflet Spreewasser:N</title>

<script src="{% static 'swn/js/map.js' %}" defer></script>


{% comment %}
<script src="{% static './dist/web-GIS.js' %}" defer></script>
{% endcomment %} 
{% leaflet_js %} 
{% leaflet_css %} 
{% endblock scripts %} 
{% block body_block %}

<h1>style.css is loaded if this is red</h1>

{% leaflet_map "map" callback="window.map_init_basic" %} 
<script>
    var projectRegion = '{% static "pilotrgion_4326.geojson" %}';
    
    var sidebar = L.control.sidebar('sidebar', {
        closeButton: true,
        position: 'left'
    }).addTo(map);
</script>




{% endblock body_block %}
