{% extends 'swn/base.html' %} 
{% load static %} 
{% load leaflet_tags %} 
{% load geojson_tags %} 
{% block css %} 
    {% leaflet_css %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css">
    <link rel="stylesheet" href="{% static 'swn/css/leaflet.timedimension.control.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'swn/css/user_dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'swn/css/base.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
            {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'swn/css/bootstrap-datepicker.standalone.css' %}"/>
    <link rel="stylesheet" href="{% static 'swn/css/leaflet.contextmenu.css' %}"/>


{% endblock css %} 
{% block body_block %}

        <div class="container py-5">
            <div class="row">
                <div class="col-8">
                    <div id="map" style="height: 100%; width: 100%"></div>
                </div>
                <div id="timelapseControl" class="col-4">
                   
                    {% comment %} 
                    Datepicker https://uxsolutions.github.io/bootstrap-datepicker/?markup=range&format=dd%2Fmm%2Fyyyy&weekStart=&startDate=01-01-1997&endDate=12-01-1997&startView=1&minViewMode=0&maxViewMode=3&todayBtn=false&clearBtn=true&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox
                    https://vitalets.github.io/bootstrap-datepicker/
                    {% endcomment %}
                    <select id='datasetSelector' class="form-select" aria-label="datasetSelector-label">
                        <option selected>Open this select menu</option>
                        {% for dataset in catalog_json %}
                            <option value="{{ dataset.name }}">{{ dataset.name }}</option>
                            
                        {% endfor %}
                      </select>

                      <select id='netcdfVariableSelector' class="form-select" aria-label="netcdfVariableSelector-label"></select>
                      <select id='styleSelector' class="form-select" aria-label="styleSelector-label"></select>
                      <div class="input-group" id="color-range" >
                        <input type="text" id="lowerRange" class="input-sm form-control" name="start" />
                        <span class="input-group-addon  px-3"> bis </span>
                        <input type="text" id="upperRange" class="input-sm form-control" name="end" />
                    </div>
                        
                    <div class="input-daterange input-group" id="datepicker" style="display: none">
                      <input type="text" id="startDatePicker" class="input-sm form-control" name="start" />
                      <span class="input-group-addon  px-3"> bis </span>
                      <input type="text" id="endDatePicker" class="input-sm form-control" name="end" />
                    </div>
                    <button class="btn btn-primary" id="loadNetCDFButton">Load NetCDF</button>
                    
                </div>
            </div>
        </div>

    <script>
        var netcdfVariableSelector = document.getElementById('netcdfVariableSelector');
        var datasetSelector = document.getElementById('datasetSelector');
        var loadNetCDFButton = document.getElementById('loadNetCDFButton')

    </script>

{% endblock%} 

{% block javascript %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
    <script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.de.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'swn/js/leaflet.contextmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'swn/js/map_thredds_4.js' %}"></script>
{% endblock %}
