{% load crispy_forms_tags %}

<div class="modal fade " id="userFieldNameModal" tabindex="-1" aria-labelledby="userFieldNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="userFieldNameModalLabel">Ackername</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="alert-box-name"></div>
                Bitte geben Sie eine Bezeichnung für das Feld ein:
             
                    <input type="text" id="fieldNameInput" name="fieldNameInput" class="form-control" placeholder="Bezeichnung" aria-label="Bezeichnung" aria-describedby="fieldNameInputHelpBlock" required>
                    
                    <div class="modal-footer">  
                        <button type="button" id="btnUserFieldDismiss" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" id="btnUserFieldSave" class="btn btn-light">Speichern</button>
                        <button type="button" id="btnUserFieldSaveAndCalc" class="btn btn-light">Speichern und neue Berechnung</button>
                    </div>

            </div>             
        </div>
    </div>
</div>