{% extends "swn/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block css %} 
  


{% endblock css %} 

{% block body_block %}

<script>
  
    var userFieldId = {{ id }};
    var polygonIds = {{ polygon_ids }};
    var polygonIdsStr = polygonIds.join(','); 
    var systemUnitJson = JSON.parse('{{ system_unit_json|escapejs }}');
    var landusageChoices = JSON.parse('{{ landusage_choices|escapejs }}');

    

</script>

<div class="modal fade" id="soilModal" tabindex="-1" aria-labelledby="selectSoilProfileLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content" id="selectSoilProfileContent">

{% comment %} <div class="container-fluid p-5"> {% endcomment %}
    {% comment %} <div class="row">
      <h1>ID:{{ id }} Feld: {{ text }}</h1>
    </div> {% endcomment %}
    <div class="row">
      <div class="card mb-3">
        <div id="soilDiv" class="card-body">
          <h5 class="card-title">Bük200 Bodedaten in Feld: {{ text }}</h5>  
            <span class="input-group-text mb-2 d-flex align-items-start">
              <div id="div_id_land_usage" class="m-3">
                <label for="id_land_usage" class="form-label">
                  Flächennutzungsart
                <label>
                <select name="land_usage" class="form-select" id="id_land_usage"></select>
              </div>
              <div id="div_id_area_percentage" class="m-3">
                <label for="id_area_percentage" class="form-label">
                  Anteil des Bodenprofils in %
                <label>
                <select name="area_percentage" class="form-select" id="id_area_percentage"></select> 
              </div>
              <div id="div_id_system_unit" class="m-3">
                <label for="id_system_unit" class="form-label">
                  Systemeinheit
                <label>
                <select name="system_unit" class="form-select" id="id_system_unit"></select> 
              </div>
            </span>
            <span class="input-group-text mb-2 d-flex align-items-start">
              <div id="div_id_soil_profile" class="m-3">
                <label for="id_soil_profile" class="form-label">
                  Bodenprofil
                <label>
                <select name="soil_profile" class="form-select" id="id_soil_profile"></select> 
              </div>
              <div id="div_id_horizons" class="m-3 p-2 border rounded " >

              </div>
            </span>
            <div>
              <table id="tableHorizons" class="table table-bordered border-4 rounded table-hover table-striped ">
              </table>
            </div>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="card mb-3">
        <div class="card-body">
            
          {% comment %} <a class="btn btn-primary" href="{% url 'swn:user_dashboard' %}">Zurück</a> {% endcomment %}
          {% comment %} <button type="submit" id="btnMonicaCalculate" class="btn btn-primary mb-2">Berechnen</button> {% endcomment %}
          <button type="submit" id="btnSelectSoilProfile" class="btn btn-primary mb-2">
            Profil auswählen
          </button>
        </div>
      </div>
    </div>
  </div>  
{% comment %} </div>  {% endcomment %}
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'swn/js/manual_soil_selection.js' %}" type="module"></script>

{% endblock %}
