{% extends "swn/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'swn/test/virtual-select.min.css' %}" />

{% endblock %}

{% block body_block %}
<div>
    <label>Multiselect</label>
    <select id="multipleSelect" multiple name="native-select" placeholder="Native Select" data-search="false" data-silent-initial-value-set="true">
    <option value="1" disabled>Option 1</option>
    <option value="2">Option 2</option>
    <option value="3" selected>Option 3</option>
  </select>
</div>



{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'swn/test/virtual-select.js' %}"></script>
<script type="text/javascript" src="{% static 'swn/test/test.js' %}"></script>
{% endblock %}
```