{% load static %}

<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'swn:swn_index' %}">
        <img src="{% static 'img/SpreeWasser-Logo.png' %}" height="50">
      </a>

      <!-- Hamburger -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="mainNavbar">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'swn:drought_monitor' %}">
              Dürremonitor
            </a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'swn:swn_dashboard' %}">
              Dürrefrühwarnsystem
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'monica:monica_model' %}">Monica</a></li>
          {% endif %}

          <li class="nav-item"><a class="nav-link" href="{% url 'api-docs' %}" target="_blank">API</a></li>    
          <li class="nav-item"><a class="nav-link" href="{% url 'klim4cast:timelapse-page' %}">Clim4Cast</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'swn:acknowledgements' %}">Acknowledgements</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'swn:impressum_information' %}">Impressum</a></li>

          {% if user.is_superuser %}
            <li><a  class="nav-link" href="{% url 'admin:index' %}">ADMIN</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'swn:thredds-catalog' %}">Thredds catalog</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'swn:bootstrap' %}">Bootstrap</a></li>
          {% endif %}

        </ul>

        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span>
              <div class="circle">
                <span class="initials text-small">{{ user.username|slice:"1" }}</span>
              </div>
            </span>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'swn:logout' %}">
                Logout
              </a>
            </li>
          {% else %}
            <li><a  class="nav-link" href="{% url 'swn:sign_up' %}">Anmelden</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'swn:login' %}">
                Login
              </a>
            </li>
          {% endif %}

        </ul>

      </div>
    </div>
  </nav>
</header>