{% load crispy_forms_tags %}
    
<!-- Button trigger modal -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
<script src="{% static 'swn/js/chart_page.js' %}" defer></script> {% endcomment %}
<div class="modal modal-lg" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="projectModalTitle"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Bodenfeuchteberechnung</h5>
                  {% csrf_token %}
                  {{ crop_form|crispy }}
                  {% comment %} <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> {% endcomment %}
                  
                  <a href="#Chart" class="btn btn-primary mb-2">Berechnen</a>
                  <div class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Monica Brechnung</h5>
                      <canvas id="Chart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>

        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

  </div>
</div>