{% load crispy_forms_tags %}
    
<!-- Button trigger modal -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
<script src="{% static 'swn/js/chart_page.js' %}" defer></script> {% endcomment %}
<div class="modal modal-lg" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="projectModalTitle"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Bodenfeuchteberechnung</h5>
                  <label for="startDate">Berechnung von</label>
                  <input type="date" class="mx-1" id="startDate" name="calculationStart" value="2023-03-01"> 
                  <label for="endDate">bis</label>
                  <input type="date" class="mx-1" id="endDate" name="calculationEnd" value="2023-09-25"> 
                  
                    
                      {% csrf_token %}
                      
                      {{ crop_form|crispy }}
                      {% comment %} <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> {% endcomment %}
                      
                    
                      <button id="btnModalCal" class="btn btn-primary mb-2">Berechnen</button>
                  
                  

                  <div class="card mb-3 d-none" id="chartCard">
                    <div class="card-body">
                      <h5 class="card-title" id="chart-title">Monica Brechnung</h5>
                      <div id="chartDiv"></div>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>

        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
      </div>
    </div>

  </div>
</div>