<!-- Baselayers remain the same over drought warning system and toolbox-->
<template id="baselayersTemplate">


  <ul class="list-group sidebar-list base-layer-control-list" id="baseLayerList"></ul>
  <!-- leaflet layer control items are inserted here-->


</template>

<div id="sidebar" class="leaflet-sidebar">
  <!-- Nav tabs -->
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li>
        <a href="#droughtWarning" role="tab"><i class="bi bi-layers"></i></a>
      </li>
      <li>
        <a href="#toolbox" role="tab"><i class="bi bi-moisture"></i></a>
      </li>
      <li>
        <a href="#profile" role="tab"><i class="bi bi-person"></i></a>
      </li>
      <li class="disabled">
        <a href="#messages" role="tab"><i class="fa fa-envelope"></i></a>
      </li>
      <li>
        <a href="{% url 'swn:swn_index' %}" role="tab"
          ><i class="fa fa-home"></i
        ></a>
      </li>
    </ul>
    <ul role="tablist">
      <li>
        <a href="#settings" role="tab"><i class="fa fa-gear"></i></a>
      </li>
    </ul>
  </div>
  <!-- Tab panes -->
  <div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane active" id="droughtWarning">
      <h1 class="leaflet-sidebar-header">
        Dürrevorhersage
        <span class="leaflet-sidebar-close"
          ><i class="fa fa-caret-left"></i
        ></span>
      </h1>
      <!-- accordion items of layer pane -->
      <div class="accordion accordion-flush" id="droughtAccordion">
        {% comment %} {% include 'swn/sidebar_baselayers.html' %} {% endcomment %}
        
        {% comment %} <div class="row" id="controlContainer"></div> {% endcomment %}
        
        
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#droughtBaseLayerCollapse"
              aria-expanded="true"
              aria-controls="droughtBaseLayerCollapse"
            >
              Baselayers
            </button>
          </h2>
          <div
            id="droughtBaseLayerCollapse"
            class="accordion-collapse collapse show"
            data-bs-parent="#droughtAccordion"
          >
            <ul class="list-group sidebar-list" id="baseLayerControlList"></ul>
              {% comment %} <ul class="list-group sidebar-list" id="baseLayerList"></ul> {% endcomment %}
              <!-- leaflet layer control items are inserted here-->
          </div>
        </div> 
        <!-- overlay items -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#overlayAccordion"
              aria-expanded="false"
              aria-controls="overlayAccordion"
            >
              Overlays
            </button>
          </h2>
          <div
            id="overlayAccordion"
            class="accordion-collapse collapse"
            data-bs-parent="#droughtAccordion"
          >
            <ul class="list-group sidebar-list" id="overlayList">
              <!-- project region -->
              <li class="list-group-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="ProjectRegion" class="form-check-input overlay-switch" id="projectRegionSwitch" checked/>
                    <label class="form-check-label" for="projectRegionSwitch">
                      Spreewasser:N Projektgebiet
                    </label>
                  </div>
                </div>
              </li>
              <!-- NetCDF animation -->
              <li class="list-group-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="animation" class="form-check-input overlay-switch" id="animationSwitch" unchecked/>
                    <label class="form-check-label" for="animationSwitch">
                      Konzeptanimation
                    </label>
                  </div>

                  <div class="range col-5">
                    <input type="range" class="form-range layer-opacity" data-layer="animation" min="0.0" max="1.0" step="0.1" id="animationOpacity" disabled/>
                  </div>
                </div>
              </li>

              <!-- digital elevation model -->
              <li class="list-group-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" data-layer="demOverlay" class="form-check-input overlay-switch" id="DEMSwitch" unchecked />
                    <label class="form-check-label" for="DEMSwitch">Höhenmodell</label>
                  </div>
                  <div class="range col-5">
                    <input
                      type="range"
                      class="form-range layer-opacity"
                      data-layer="demOverlay"
                      min="0.0"
                      max="1.0"
                      step="0.1"
                      id="demOverlayOpacity"
                      disabled
                    />
                  </div>
                </div>
              </li>

              <!-- drought index -->
              <li class="list-group-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" class="form-check-input overlay-switch" data-layer="droughtOverlay" id="droughtSwitch" unchecked>
                    <label class="form-check-label" for="droughtSwitch">Dürreindex</label>
                  </div>
                  <div class="range col-5">
                    <input type="range" class="form-range layer-opacity" data-layer="droughtOverlay" min="0.0" max="1.0" step="0.1" id="droughtOverlayOpacity" disabled />
                  </div>
                </div>
              
              {% for field in state_county_district_form.visible_fields %}

                  <li  class="list-group-item">
                    {{ field }}
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- userfields -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#userFieldsAccordion"
              aria-expanded="false"
              aria-controls="userFieldsAccordion"
            >
              Benutzerfelder
            </button>
          </h2>
          <div
            id="userFieldsAccordion"
            class="accordion-collapse collapse"
            data-bs-parent="#droughtAccordion"
          >
              <!-- userFields -->
              <div class="accordion" id="accordionUserFields">
                <!-- userFields are injected here -->
              </div>

          </div>
        </div>
      </div>
    </div>


    <!-- Water management Toolbox -->
    <div class="leaflet-sidebar-pane" id="toolbox">
      <h1 class="leaflet-sidebar-header">
        Toolbox
        <span class="leaflet-sidebar-close"
          ><i class="fa fa-caret-left"></i
        ></span>
      </h1>
      <!-- accordion items of layer pane -->
      <div class="accordion accordion-flush" id="toolboxAccordion">
        {% comment %} {% include 'swn/sidebar_baselayers.html' %} {% endcomment %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#droughtBaseLayerCollapse"
              aria-expanded="true"
              aria-controls="droughtBaseLayerCollapse"
            >
              Baselayers
            </button>
          </h2>
          <div
            id="toolboxBaseLayerCollapse"
            class="accordion-collapse collapse show"
            data-bs-parent="#droughtAccordion"
          >
              {% comment %} <ul class="list-group sidebar-list" id="baseLayerList"></ul> {% endcomment %}
              <!-- leaflet layer control items are inserted here-->
          </div>
        </div> 
        <!-- overlay items -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#toolboxOverlayAccordion"
              aria-expanded="false"
              aria-controls="overlayAccordion"
            >
              Overlays
            </button>
          </h2>
          <div
            id="toolboxOverlayAccordion"
            class="accordion-collapse collapse"
            data-bs-parent="#toolboxAccordion"
          >
            <ul class="list-group sidebar-list" id="toolboxOverlayList">
              <!-- project region -->
              <li class="list-group-item">
                <div class="row">
                  <div class="form-check form-switch col">
                    <input type="checkbox" class="form-check-input" id="projectRegionSwitch" checked/>
                    <label class="form-check-label" for="projectRegionSwitch">
                      Spreewasser:N Projektgebiet
                    </label>
                  </div>
                </div>
              </li>
              <!-- TODO duplicate Node and make selection in settings-->
            </ul>
          </div>
        </div>

        <!-- userfields -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#userFieldsAccordion"
              aria-expanded="false"
              aria-controls="userFieldsAccordion"
            >
              Benutzerfelder
            </button>
          </h2>
          <div
            id="userFieldsAccordion"
            class="accordion-collapse collapse"
            data-bs-parent="#droughtAccordion"
          >
              <!-- userFields -->
              <div class="accordion" id="accordionUserFields">
                <!-- userFields are injected here -->
              </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Profile pane -->
    <div class="leaflet-sidebar-pane" id="profile">
      <h1 class="leaflet-sidebar-header">
        Userprofil
        <span class="leaflet-sidebar-close"
          ><i class="fa fa-caret-left"></i
        ></span>
      </h1>
      <ul class="list-group sidebar-list" id="sidebarLayerList">
        <li class="list-group-item">
          <strong>Username:</strong> {{ user.username }}
        </li>
        <li class="list-group-item">
          <strong>E-mail:</strong> {{ user.email }}
        </li>
      </ul>
    </div>

    <div class="leaflet-sidebar-pane" id="messages">
      <h1 class="leaflet-sidebar-header">
        Messages<span class="leaflet-sidebar-close"
          ><i class="fa fa-caret-left"></i
        ></span>
      </h1>
    </div>
    <div class="leaflet-sidebar-pane" id="settings">
      <h1 class="leaflet-sidebar-header">
        Settings<span class="leaflet-sidebar-close"
          ><i class="fa fa-caret-left"></i
        ></span>
      </h1>
      <div>
        <p>Make selection for Overlays in each pane</p>
      </div>
    </div>
  </div>
</div>
