{% extends 'shared/three_split.html' %} 
{% load component_tags %}
{% load static %} 
{% load crispy_forms_tags %}
{% load leaflet_tags %} 
{% load geojson_tags %} 
{% block css %} 
{{ block.super }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
    <link rel="stylesheet" href="{% static 'swn/css/leaflet.contextmenu.css' %}"/>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/> {% endcomment %}
    <!-- virtual-select is for the multiple select boxes -->
    <link rel="stylesheet" href="{% static 'swn/src/virtual-select.min.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'swn/css/leaflet-sidebar.min.css' %}" /> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css">
    <link rel="stylesheet" href="{% static 'swn/css/user_dashboard.css' %}" />

{% endblock css %} 


{% block right_panel %}
        <div id="map" style="height: 100%; width: 100%"></div>
{% endblock right_panel %}




{% block left_panel %}
    {% include 'swn/sidebar_new.html' %}
    {% include 'swn/modal_field_name.html' %}
    {% include 'swn/modal_field_menu.html' %}
    

{% endblock left_panel %}

{% block bottom_panel %}
    {% include 'monica/modal_manual_soil_selection.html' %}
    <div id="swn_title" class="card-header">
        <h3 class="monica-project-header">SWN - Monica Interface</h3>
    </div>
    <div class="overflow-auto" >
        {% include 'monica/hidden_rotation_forms.html' %}
    <!-- navigation in monica -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="monica nav-link" aria-current="page" href="#tabProject">Project</a>
            </li>
            <li class="nav-item">
                <a class="monica nav-link active" aria-current="page" href="#tabGeneralParameters">General Parameters</a>
            </li>
            <li class="nav-item dropdown">
                <a class="monica nav-link" aria-current="page" href="#tabRotation" >Crop Rotation</a>
            </li>
            <li class="nav-item">
                <a class="monica nav-link" aria-current="page" href="#tabSoil">Soil</a>
            </li>
            <li class="nav-item">
                <a id="resultTab" class="monica nav-link disabled" aria-disabled="true" href="#tabResult">Result</a>
            </li>
            <li>
                <button id="toggle-advanced-mode" class="btn btn-primary simple" type="button">
                    Switch to Advanced Mode
                </button>
            </li>
        </ul>

        <!-- ende navigation -->
        {% render_tab_project project_form user_environment_parameters_select_form user_crop_parameters_select_form user_simulation_settings_select_form %}


        <!-- General Parameters -->
        <div id="tabGeneralParameters" class="tab-content card mb-3 active">
            <div class="card-body">
                {% comment %} <div class="card mb-3">
                    <div class="card-body">
                        {{ user_field_selector_form |crispy }}
                    </div>
                </div> {% endcomment %}
            
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">"Today's" date</h5>
                        <input type="text" id="todaysDatePicker" class="input-sm form-control datepicker" name="todaysDate" />
                    </div>
                </div>
                
                {% render_tab_general_parameters coordinate_form %}  
            </div>  
        </div>


        {% render_tab_crop_rotation %}
        {% render_tab_soil user_soil_moisture_select_form user_soil_organic_select_form soil_temperature_module_selection_form user_soil_transport_parameters_selection_form %}
        {% render_tab_result %}
        <button id="previousButton" class="btn btn-primary mt-3">Previous</button>
        <button id="nextButton" class="btn btn-primary mt-3">Next</button>
        <button id="runSimulationButton" class="btn btn-primary mt-3">Run Simulation</button>


        <button id="monica-project-save" class="btn btn-primary mt-3 ">Save Project</button>
        <button id="monica-project-save-as" class="btn btn-primary mt-3 ">Save Project as</button>


    </div>
{% endblock bottom_panel %}




{% block javascript %}
    {{ block.super }}
    <script>
        const demUrl = "{% static 'data/dem_3857.png' %}";
        const droughtUrl = "{% static 'data/4326_reprojected_3857.png' %}" ;   
        const project_region = {{ project_region|safe }} ;
        const runSimulationUrl = "{% url 'monica:run_simulation' %}";
        const loadNutsUrl = "{% url 'swn:load_nuts_polygon' %}";
        const saveProjectUrl = "{% url 'swn:save-project' %}";

        {% comment %} const userFields = {{ user_fields|safe }} ;  {% endcomment %}
          
    </script>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>{% endcomment %}
    <script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'swn/js/bootstrap-datepicker.de.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'swn/js/leaflet.contextmenu.js' %}"></script> 
    {% comment %} <script src="{% static 'leaflet/georaster/georaster-layer-for-leaflet.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>{% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
    {% comment %} <script src="{% static 'swn/js/leaflet-sidebar.min.js' %}"></script> {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
    
    <script type="text/javascript" src="{% static 'swn/src/virtual-select.js' %}"></script> 
    <script type="module" src="{% static 'monica/monica_model.js' %}" defer></script>
    <script type="module" src="{% static 'swn/js/swn_three_split.js' %}" defer></script>

    
{% endblock %}

