<!-- user dashboard -->
{% extends "swn/base.html" %}
{% load static %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block css %}
  {% leaflet_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css">
  
  <link rel="stylesheet" href="{% static 'leaflet/fullscreen/Control.FullScreen.css' %}" />
  <link rel="stylesheet" href="{% static 'leaflet/markercluster/MarkerCluster.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet/markercluster/MarkerCluster.Default.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>
  
  {% comment %} <link rel="stylesheet" href="{% static 'swn/css/leaflet-sidebar.css' %}"/> {% endcomment %}
  <link rel="stylesheet" href="{% static 'swn/css/leaflet-sidebar.min.css' %}" />
{% endblock css %}

{% block body_block %}
  {% include 'swn/variables.html' %}
<!-- modal -->
{% comment %} <div class="modal-container"></div> {% endcomment %}

  {% include 'swn/modal_project.html' %}
  {% include 'swn/modal_field_name.html' %}
  {% include 'swn/modal_project_list.html' %}

{% comment %} </div> {% endcomment %}
<!--sidebar-->

<!-- map -->

<div id="map-container" class="container" >
  {% include 'swn/sidebar.html' %}
  <div id="map" > 
  
</div>

{% endblock %}
{% block javascript %}
{{ bock.super }}
 
  <script>
    const demUrl= "{% static 'data/dem_3857.png' %}"
    console.log("demUrl", demUrl)
    const droughtUrl= "{% static 'data/4326_reprojected_3857.png' %}" 
  </script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static './leaflet/print/leaflet.browser.print.min.js' %}"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  
    <script src="{% static 'leaflet/fullscreen/Control.FullScreen.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="{% static 'leaflet/highlightable/highlightableLayers.js' %}"></script>
    <script src="{% static './data/pilotregion.js' %}"></script>
    <script src="{% static 'swn/js/user_dashboard.js' %}" type="module"></script>
    <!-- Tiff overlay -->
    
    
    <script src="https://unpkg.com/chroma-js"></script>
    <script src="https://unpkg.com/georaster"></script>
    <script src="https://unpkg.com/proj4"></script>
    <script src="{% static 'leaflet/georaster/georaster-layer-for-leaflet.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <script src="{% static 'swn/js/leaflet-sidebar.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
  <link rel="stylesheet" href="{% static 'swn/css/user_dashboard.css' %}" />
  <script src="{% static 'swn/js/chart_page.js' %}" defer></script>
{% endblock%}
