<!-- user dashboard -->
{% extends "swn/base.html" %}
{% load static %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block css %}
  {% leaflet_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css">
  <link rel="stylesheet" href="{% static 'swn/css/leaflet-sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'leaflet/fullscreen/Control.FullScreen.css' %}" />
  <link rel="stylesheet" href="{% static 'leaflet/markercluster/MarkerCluster.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet/markercluster/MarkerCluster.Default.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="{% static "swn/css/user_dashboard.css" %}"/>
{% endblock css %}

{% block body_block %}
  {% include 'swn/variables.html' %}
  {% comment %} {% for proj in projects %}
    <p><strong>{{ proj.name }}</strong></p>
    <p>{{ proj.field.name }}</p>
    <p>{{ proj.field.user.name }}</p>
  {% endfor %} {% endcomment %}
  {% comment %} Context: {{ context }} {% endcomment %}
  
  {% comment %} <ul id="display-data">

  </ul> {% endcomment %}
<!-- modal -->
<div class="modal-container"></div>
{% block project_modal %}
  {% include 'swn/project_modal.html' %}
  {% include 'swn/field_name_modal.html' %}
  {% include 'swn/modal_project_list.html' %}
  
{% endblock %}

<!-- map -->

  <div id="map-container" class="container">
    {% include 'swn/sidebar.html' %}
    <div id="map" class="sidebar-map"></div>
  </div>

{% comment %} <button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fieldInfoModal">Chart</button> {% endcomment %}


{% endblock %}
{% block javascript %}
{{ bock.super }}
 
  <script>
    const demUrl= "{% static 'data/dem_3857.png' %}"
    const droughtUrl= "{% static 'data/4326_reprojected_3857.png' %}"
    
  </script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
    <script src="{% static './leaflet/print/leaflet.browser.print.min.js' %}"></script>
    {% comment %} <script src="{% static 'leaflet/markercluster/leaflet.markercluster.js' %}"></script> {% endcomment %}
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    {% comment %} <script src="{% static './leaflet/geocoder/Control.Geocoder.js' %}"></script> {% endcomment %}

    <script src="{% static 'leaflet/fullscreen/Control.FullScreen.js' %}"></script>
    <script src="{% static 'swn/js/leaflet-sidebar.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    {% comment %} <script src="https://unpkg.com/leaflet-highlightable-layers@1.2.1/dist/L.HighlightableLayers.js"></script> {% endcomment %}
    <script src="{% static 'leaflet/highlightable/highlightableLayers.js' %}"></script>
    <script src="{% static './data/pilotregion.js' %}"></script>
    <script src="{% static 'swn/js/user_dashboard.js' %}"></script>
    <!-- Tiff overlay -->
    
    
    <script src="https://unpkg.com/chroma-js"></script>
    {% comment %} <script src="https://unpkg.com/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js"> {% endcomment %}
    <script src="https://unpkg.com/georaster"></script>
    <script src="https://unpkg.com/proj4"></script>
    <script src="https:///unpkg.com/georaster-layer-for-leaflet@latest"></script>
  {% comment %} <script src="{% static 'dist/leaflet-geotiff-vector.js' %}"></script> {% endcomment %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" defer></script>
<script src="{% static 'swn/js/chart_page.js' %}" defer></script>
{% endblock%}
