beautifulsoup4==4.12.2
debugpy==1.6.2
django==4.2
django-debug-toolbar==3.7.0
django-extensions==3.2.1
django-extras==0.3
django-geoip2-extras==1.1.2
django-geojson==3.2.1
django-leaflet==0.28.3
drf-spectacular==0.15.1
gdal==3.4.1
pandas==1.5.3
psycopg2==2.9.3
django-crispy-forms==2.0
crispy-bootstrap5==0.7
jsonfield==3.1.0
pytz==2022.2.1
netCDF4==1.6.3 
geopandas==0.12.2 
SQLAlchemy==2.0.9 
GeoAlchemy2==0.13.2 
pycurl==7.45.2 
Js2Py==0.74 
scipy==1.10.1 
PyPrind==2.11.3  
rasterio==1.3.8
tzdata==2023.3 
geoserver-rest==2.4.1 
# TODO geolite city and country databases need to be added https://www.youtube.com/watch?v=MOKEB3EjP3Y&list=PLgjw1dR712jqRdvbOYxBugzbqlfcy17DU&index=2
geoip2==4.7.0
geopy==2.3.0
``` 

