{% extends 'swn/base.html' %} 

{% block body_block %}
<form id="cultivar-parameters-form">
    {{ form.as_p }}
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_species_parameters').change(function() {
            var speciesId = $(this).val();
            if (speciesId) {
                $.ajax({
                    url: '/monica/get_cultivar_parameters/' + speciesId + '/',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        $('#id_cultivar_parameters').empty();
                        {% comment %} $('#id_cultivar_parameters').append('<option value="">Select Cultivar</option>'); {% endcomment %}
                        $.each(data.cultivars, function(key, value) {
                            console.log('KEY', key, 'VALUE', value);
                            $('#id_cultivar_parameters').append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                 
                    }
                });
            } else {
                $('#id_cultivar_parameters').empty();
            }
        });
    });
</script>
{% endblock %}
