{% extends "core/base.html" %}

{% block body_block %}

    <h1>Test HTML</h1>
    <label for="button_id">Inner HTML label for button</label>
    <input type="button" id="button_id" name="select_html_name" ></br>

    <label for="checkbox_id">Inner HTML label for checkbox</label>
    <input type="checkbox" name="checkbox_id" ></br>

    <label for="color_id">Inner HTML label for color</label>
    <input type="color" name="color_id" ></br>

    <label for="date_id">Inner HTML label for date</label>
    <input type="date" name="checkbox_id" ></br>

    <label for="checkbox_id">Inner HTML label for checkbox</label>
    <input type="checkbox" name="date_id" ></br>

    <label for="reset_id">Inner HTML label for reset</label>
    <input type="reset" name="reset_id" ></br>

    <label for="checkbox_id">Inner HTML label for checkbox</label>
    <input type="checkbox" name="checkbox_id" ></br>

    Halo Micha

{% endblock%}