<div id="id_field_capacity-outer" class="slider-outer-div"> 
    <div id="id_field_capacity-div" class="row"> 
        <div id="id_field_capacity-min-label" class="col-2">10 %</div> 
        <div class="col-8"> 
            <div class="slider slider-horizontal" id="">
                <div class="slider-track">
                    <div class="slider-track-low" style="left: 0px; width: 10%;"></div>
                    <div class="slider-selection" style="left: 10%; width: 70%;"></div>
                    <div class="slider-track-high" style="right: 0px; width: 20%;"></div>
                </div>
                <div class="tooltip tooltip-main bs-tooltip-top hide" role="presentation" style="left: 45%;">
                    <div class="arrow"></div><div class="tooltip-inner">10 : 80</div>
                </div>
                <div class="tooltip tooltip-min bs-tooltip-top hide" role="presentation" style="left: 10%;">
                    <div class="arrow"></div><div class="tooltip-inner">10</div>
                </div>
                <div class="tooltip tooltip-max hide bs-tooltip-top" role="presentation" style="left: 80%;">
                    <div class="arrow"></div>
                    <div class="tooltip-inner">80</div>
                </div>
                <div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="0" aria-valuemax="100" style="left: 10%;" aria-valuenow="10" tabindex="0"></div>
                <div class="slider-handle max-slider-handle round" role="slider" aria-valuemin="0" aria-valuemax="100" style="left: 80%;" aria-valuenow="80" tabindex="0"></div>
            </div>
            <input id="id_field_capacity" type="text" class="w-100" data-slider-min="0" data-slider-max="100" data-slider-value="[10,80]" data-slider-tooltip="hide" style="display: none;" data-value="10,80" value="10,80"> 
        </div> 
        <div id="id_field_capacity-max-label" class="col-2">80 %</div> 
    </div>
</div>