


<div id="{{ widget.attrs.id }}-outer" class="slider-outer-div">
    <div id="{{ widget.attrs.id }}-div" class="row">
        <div id="{{ widget.attrs.id }}-min-label" class="col-2">{{ widget.attrs.data_range_min }} {{ widget.attrs.units|default:"" }}</div>
        <div class="col-8">
            <input
                id="{{ widget.attrs.id }}"
                type="text"
                class="w-100 double-slider"
                data-slider-min="{{ widget.attrs.data_range_min }}"
                data-slider-max="{{ widget.attrs.data_range_max }}"
                data-slider-value="[{{ widget.attrs.data_cur_min }},{{ widget.attrs.data_cur_max }}]"
                data-slider-unit="{{ widget.attrs.units|default:"" }}"
                {% if widget.attrs.prefix %}
                    prefix="{{ widget.attrs.prefix|default:"" }}"
                    name="{{ widget.attrs.name }}"
                {% endif %}
                data-slider-tooltip="hide"
            />
        </div>
        <div id="{{ widget.attrs.id }}-max-label" class="col-2 text-end">{{ widget.attrs.data_range_max }} {{ widget.attrs.units|default:"" }}</div>
    </div>
</div>

