<div class="row">
    <div class="col-2 text-start">
         

    </div>
    <div class="col-8">
        <input
            type="range"
            class="form-range w-100 single-slider"
            min="{{ widget.attrs.data_range_min }}"
            max="{{ widget.attrs.data_range_max }}"
            step="{{ widget.attrs.data_range_step }}"
            value="{{ widget.attrs.data_cur_val }}"
            id="{{ widget.attrs.id }}_slider"
            {% if widget.attrs.prefix %}
                prefix="{{ widget.attrs.prefix|default:"" }}"
                name="{{ widget.attrs.name }}"
            {% endif %}
            oninput="document.getElementById('{{ widget.attrs.id }}_value').innerText = this.value + '{{ widget.attrs.units|default:"" }}';"
        >
    </div>
    <div class="col-2 text-end" id="{{ widget.attrs.id }}_value">
        {{ widget.attrs.data_cur_val }}{{ widget.attrs.units|default:"" }}
    </div>
</div>
