

<div class="row">
    {% if widget.attrs.reset %}
        {% if widget.attrs.prefix %}
        <div class="col-2 text-start">
        </div>
        <div class="col-7">
        
        {% else %}
        <div class="col-9">
        {% endif %}
    {% else %}
        {% if widget.attrs.prefix %}
            
            <div id="{{ widget.attrs.id }}_start_text" class="col-2 text-start">
            </div>
            
            <div class="col-8">
        
        {% else %}
        <div class="col-10">
        {% endif %}

    {% endif %}
        <input
            type="range"
            class="form-range w-100 single-slider"
            min="{{ widget.attrs.data_range_min }}"
            max="{{ widget.attrs.data_range_max }}"
            step="{{ widget.attrs.data_range_step }}"
            value="{{ widget.attrs.data_cur_val }}"
            data-default-value="{{ widget.attrs.data_default_value }}"
            id="{{ widget.attrs.id }}_slider"
            {% if widget.attrs.name %}
                {% comment %} prefix="{{ widget.attrs.prefix|default:"" }}" {% endcomment %}
                name="{{ widget.attrs.name }}"
            {% endif %}
            {% if not widget.attrs.string_label %}
               
                oninput="document.getElementById('{{ widget.attrs.id }}_value').innerText = this.value + '{{ widget.attrs.units|default:"" }}';"
            {% endif %}
                >
    </div>
    <div class="col-2 text-end" id="{{ widget.attrs.id }}_value">
        {% if widget.attrs.string_label %}

            <span id="{{ widget.attrs.id }}_string_label">{{ widget.attrs.data_range_max }}</span>
        {% else %}
            
            {{ widget.attrs.data_cur_val }}{{ widget.attrs.units|default:"" }}
        {% endif %}
    </div>
    {% if widget.attrs.reset %}
        <div class="col-1">
            <button
                id="{{ widget.attrs.id }}_slider-reset"
                type="button"
                class="btn btn-outline-secondary btn-sm float-end reset-slider"
                title="Reset to default values"
                onclick="const slider = document.querySelector('#{{ widget.attrs.id }}_slider'); slider.value = slider.dataset.defaultValue; slider.dispatchEvent(new Event('input'));"
            >
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>
    {% endif %}
</div>
