
<div id="{{ widget.attrs.id }}_slider"
  class="numeric-slider-single-container form-group "
  data-range_min="{{ widget.attrs.data_range_min }}"
  data-range_max="{{ widget.attrs.data_range_max }}"
  data-cur_val="{{ widget.attrs.data_cur_val }}">

<div class="numeric-slider-single ui-slider ui-slider-horizontal ui-slider-range"></div>
<input type="hidden" class="{{ widget.attrs.class }}" name="{{ widget.name }}" id="{{ widget.attrs.id }}" value="{{ widget.value }}">
<span id="{{ widget.attrs.id }}_text">{{ widget.attrs.data_cur_val }}</span>
</div>